#gcontainer {
  margin: 20px;

}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card {
  overflow: auto;
  font: unset;
}

.grid-container {
  margin: 20px;
}

.emeetupimg {
  width: 52%;
  margin-bottom: 2em;

}

.emeetupimgtall {
  width: 46%;
  margin-left: 1em;
  float: right;
  overflow: hidden;
}

.teamtile {
  font-size: 9pt;
}

.teamgrid {
}

.pmeetup {
  width: 90%;
  display: block;
  margin: 2em auto;
}

.ourcollabwith {
  font-weight: bolder;
  margin-left: -20%;
  margin-right: 2em;
  float: left;
}

