#gcontainer{
  margin: 20px;

}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card {
  overflow: auto;
}

.grid-container {
  margin: 20px;
}

.sideportrait {
  float:left;
  width: 20%;
  margin-right: 1em;
}

.personcontainer {
  overflow: auto;
  margin-left: 0%;
}
