#gcontainer{
  margin: 20px;

}


.dashboard-card {
  overflow: auto;
  text-align: left;
}





.widetable {
  width: 100%;
}

.semiwidetable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.halfwidetable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.importantcell {
  font-weight: bold;
}

.importantlabel {
  font-weight: bold;
}

p {
  font-size: 14pt;
  font-family: 'Lato', Helvetica, SansSerif;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

