<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/d/dd/T--GO_Paris-Saclay--parts_underbanner.png"
       class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png"
       class="bannerimg superposedbanner2">
  <div class="headlinetext">Parts&nbsp;Collection</div>
</div>

<mat-card class="dashboard-card largemargin">
  <p class="spacemaker"></p>

  <div class="titrebloc">     <img class="carretitrepincipal" src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">     <h1>The HeteroGenious device: LEE5 & Ler collection</h1>   </div>

  <p class="spacemaker"></p>
  <h2>Context</h2>

  <p>Non-genetic phenotypic heterogeneity is present in large-scope in bacterial population. In
    enteropathogenic Escherichia coli (EPEC), the expression of the locus of enterocyte effacement (LEE) pathogenicity
    island is controlled by the interplay of Ler (LEE encoded regulator) and H-NS (naturally expressed by all E. coli
    strains). This interplay results in the coexistence of nonvirulent and hypervirulent subpopulations
    <reference-box shorthand="Leh2017"></reference-box>
    .
  </p>
  <mat-card class="normalmargin">
    <svg class="lee5explainer" viewBox="0 0 250 100" width="800px">
      <g
        id="layer1-7"
        inkscape:label="Layer 1"
        transform="translate(0.21045238,11.007044)">
        <path
          inkscape:connector-curvature="0"
          id="DNA_tractline"
          d="M 24.273365,68.217281 H 199.06763"
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1.70000005;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
        />
        <rect
          y="59.248367"
          x="82.020828"
          height="15.501633"
          width="105.83334"
          id="GFP_gene"
          style="opacity:1;fill:#50b47b;fill-opacity:1;stroke:none;stroke-width:2.04960823;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
        />
        <path
          inkscape:connector-curvature="0"
          id="LEE5_Prom_Arrow"
          d="M 56.126599,68.217279 V 54.051998 h 9.621705"
          style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1.70000005;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Send)"
        />
        <text
         xml:space="preserve"
         style="font-style:italic;font-variant:normal;font-weight:300;font-stretch:normal;font-size:10.58333302px;line-height:125%;font-family:'Source Sans Pro';-inkscape-font-specification:'Source Sans Pro, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="126.95313"
         y="70.528824"
         id="GFP_Label"
         ><tspan
           x="126.95313"
           y="70.528824"
           id="tspan2612"
           style="stroke-width:0.26458332px"><tspan
             x="126.95313"
             y="70.528824"
             id="tspan2610"
             style="stroke-width:0.26458332px">GFP</tspan></tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="46.903778"
         y="77.547478"
         id="LEE5_Label"><tspan
           x="46.903778"
           y="77.547478"
           id="tspan2618"
           style="stroke-width:0.26458332px"><tspan
             x="46.903778"
             y="77.547478"
             style="font-style:italic;font-variant:normal;font-weight:300;font-stretch:normal;font-size:10.58333302px;font-family:'Source Sans Pro';-inkscape-font-specification:'Source Sans Pro, Light Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332px"
             id="tspan2616">LEE5</tspan></tspan></text>
        <path
          style="fill:#ff3800;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 51.645202,28.269915 H 40.589667 l -5.918626,-5.459935 5.806954,-5.047855 h 11.055534 l -5.471928,5.047855 5.471928,5.047857 z"
          id="HNS"/>
        <path
          style="fill:#ff3800;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 51.645202,28.269915 H 40.589667 l -5.918626,-5.459935 5.806954,-5.047855 h 11.055534 l -5.471928,5.047855 5.471928,5.047857 z"
          id="HNS2"/>
        <path
          style="fill:#ff3800;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 51.645202,28.269915 H 40.589667 l -5.918626,-5.459935 5.806954,-5.047855 h 11.055534 l -5.471928,5.047855 5.471928,5.047857 z"
          id="HNS3"/>
        <path
          style="fill:#ff3800;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="M 51.645202,28.269915 H 40.589667 l -5.918626,-5.459935 5.806954,-5.047855 h 11.055534 l -5.471928,5.047855 5.471928,5.047857 z"
          id="HNS4"/>
        <path
          style="fill:#ee9942;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 85.950738,27.608459 h -11.05554 l -5.918624,-5.459936 5.806954,-5.047855 h 11.05553 c 0.08057,3.365533 0.03878,6.730179 0,10.095713 z"
          id="Ler"/>


        <path
          style="fill:#216398;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 159.90191,38.635006 h -17.37252 c -8.7785,-1.214539 -7.30392,-5.148532 -9.35443,-8.285353 -8.62849,2.681416 -7.43344,0.162134 -10.69078,0 -5.48854,-9.664339 -5.93783,-14.587134 0.66817,-10.022609 14.65528,0 23.60451,-8.559072 43.96584,0 0.38289,7.845351 -1.89798,14.025855 -7.21628,18.307962 z"
          id="RNA_Pol"/>
        <path
          style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:12.00000033, 2.00000006;stroke-dashoffset:0;stroke-opacity:1"
          d="M 133.69158,10.972607 120.86266,2.9545174 h -16.43709 v -4.9444776 h 16.43709 l 12.82892,7.4067856 z"
          id="RNA"/>

        <text
          x="32.673473"
          y="14.795038"
          id="HNSLabel"
        >H-NS
        </text>

        <text
          x="71.794014"
          y="13.472123"
          id="LerLabel">Ler
        </text>

        <text
          x="71.794014"
          y="13.472123"
          id="RNAPolLabel">RNA Polymerase
        </text>


      </g>
    </svg>
    <div class="mat-caption captionafterapicture">Figure 1 : Interplay between Ler and H-NS for the modulation of <i>LEE5</i>
      promoter activity
      <br>
      <div class="captionmaterialmethod">
        Ler is a nucleoid associated protein encoded by LEE (locus of enterocyte effacement)
        genomic island encoding a secretion system in enteropathogenic <i>E. coli</i>. For the project, we used
        <i>ler</i> and its target DNA,
        a small part of LEE island containing the promoter region of the 5th operon, named <i>LEE5</i>. This region has
        been shown to
        be recognized by two nucleoid-associated proteins, H-NS and Ler.  H-NS and Ler belong to the same family of
        protein of
        proteins qualified as ‘silencers’ of foreign DNA expression, the H-NS family. However, it has been reported that
        Ler can
        counteract the H-NS silencing on the LEE island.
      </div>
    </div>
  </mat-card>

  <p>We get inspiration from this natural system for creating our HeteroGenious device for the methotrexate (MTX)
    project.
    The idea was to propose a new genetic system, very simple (only two parts in E. coli) that can easily generate
    phenotypic heterogeneity within a clonal population with some bacteria that will significantly express the
    biotranformation pathway and other that will not and will ensure bacterial renewal within a bioreactor.</p>


  <h2>What about LEE5 and Ler parts?</h2>

  <p>The LEE pathogenicity island (35.6 kb) is present in some pathogenic A/E (attachment/effacement) <i>E. coli</i>, <i>Citrobacter
    rodentium</i> and <i>Escherichia albertii</i><reference-box shorthand="Franzin2015"></reference-box>. LEE encodes a type III secretion system. For the
    project we chose to use the promoter region of the 5th operon of the LEE island, named P<sub>LEE5</sub>. This region has been
  shown to be recognized by two nucleoid-associated proteins antagonists, H-NS and Ler which are both
  nucleoid-associated proteins. P<sub>LEE5</sub> is silenced by H-NS, but Ler can alleviate the H-NS silencing. The regulation by
  these proteins can generate some heterogeneity of transgene expression within E. coli populations as recently shown by
  Leh and collaborators<reference-box shorthand="Leh2017"></reference-box>. Since LEE or Ler are not present in non-pathogenic E.coli, we need to
    introduce LEE5 region and Ler in our E. coli chassis to build the ‘HeteroGenious’ system.</p>

  <p>In one hand, several versions of Ler encoding gene have been cloned in pSB1C3 under the control of tet promoter
    (<a href="http://parts.igem.org/Part:BBa_K2688022">BBa_K2688022</a>, <a href="http://parts.igem.org/Part:BBa_K2688023">BBa_K2688023</a>, <a href="http://parts.igem.org/Part:BBa_K2688024">BBa_K2688024</a>). On the other hand, we analyzed the expression of <i>gfp</i> under the control of
  LEE5 promoter as proof of concept. Since all these LEE5 and Ler biobricks are cloned within the same vector (pSB1C3
    backbone vector), we had to use specific genetic backgrounds to characterized LEE5 (<i>E. coli</i> K12 ∆<i>hns</i> and EPEC Δ<i>ler</i>) or
    Ler (MG1655Z1 containing an integrated copy of LEE5-<i>gfp</i> reporter without antibiotic resistance) Biobricks.</p>

  <p class="spacemaker"></p>
  <div class="formoredetailssee">See also our detailled characterizations on the <a
    (click)="this.router.navigate(['/biology/lee5'], { fragment: 'top'})">LEE5 part page</a> & <a
    (click)="this.router.navigate(['/biology/ler'], { fragment: 'top'})">Ler part page</a></div>

  <mat-card  class="z-depth" class="part-card">
    <mat-card-header>
      <mat-card-title>LEE5 promoter series</mat-card-title>
      <mat-card-subtitle>LEE5 &mdash; BBa_K2688010 to BBa_K2688018</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>A constitutive promoter regulated by H-NS (E coli endogeneous) and Ler, which allows for
      heterogeneous expression
      of downstream gene. Several variants are available, with design implications.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="this.router.navigate(['/biology/lee5'], { fragment: 'top'})">More about these parts</button>
      <br><br>Registry pages: <a href="http://parts.igem.org/Part:BBa_K2688012" mat-raised-button>LEE5_GFP_native</a>
      <a href="http://parts.igem.org/Part:BBa_K2688014" mat-raised-button>LEE5_GFP_variant-1</a>
      <a href="http://parts.igem.org/Part:BBa_K2688016" mat-raised-button>LEE5_GFP_variant-1_inframe</a>
      <a href="http://parts.igem.org/Part:BBa_K2688018" mat-raised-button>LEE5_GFP_variant-1_ΔTir</a>
      <a href="http://parts.igem.org/Part:BBa_K2688027" mat-raised-button>LEE5_GFP_native_ΔTir</a>

    </mat-card-actions>
  </mat-card>

  <mat-card class="z-depth" class="part-card">
    <mat-card-header>
      <mat-card-title>Ler regulator series</mat-card-title>
      <mat-card-subtitle><i>ler</i> &mdash; BBa_K2688019 to BBa_K2688021</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>A transcription regulator protein that binds to LEE5 promoter sites, counteracting H-NS silecing
      and allowing transcription.
      Several variants are available, with design implications.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="this.router.navigate(['/biology/ler'], { fragment: 'top'})">More about these parts</button>
      <br><br>Registry pages: <a href="http://parts.igem.org/Part:BBa_K2688022" mat-raised-button>Ler1</a>
      <a href="http://parts.igem.org/Part:BBa_K2688019" mat-raised-button>Ler2</a>
      <a href="http://parts.igem.org/Part:BBa_K2688024" mat-raised-button>Ler3</a>
    </mat-card-actions>
  </mat-card>

  <p class="spacemaker"></p>

</mat-card>
