#gcontainer{
  margin: 20px;

}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card {
  overflow: auto;
}

.grid-container {
  margin: 20px;
}

.screenshot {
  width: 100%;
  margin-top : 1em;
  margin-bottom : 1em;
}

.smallillus {
  width: 30%;
  float: right;
}

.textparagraph {
}
p {
  font-size: 14pt;
  font-family: 'Lato', Helvetica, SansSerif;
}

#even_more
{
  color: rgb(254,74,73);
  font-size: 35px;
  margin-top: 25px;
}

#petit
{
color: rgb(166,166,166);
  font-size: 25px;
  line-height: 35px;
  font-family: 'Lato', Helvetica, SansSerif;
}

#trespetit
{
  font-size: 18px;
}
