#gcontainer{
  margin: 20px;

}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card {
  overflow: auto;
}

.grid-container {
  margin: 20px;
}

.screenshot {
  width: 100%;
  margin-top : 1em;
  margin-bottom : 1em;
}

.smallillus {
  width: 30%;
  float: right;
}

.textparagraph {
  margin-bottom: 2em;
  font-size: 14pt;
}
