
<nav id="top">
  <div id='cssmenu'>
    <ul>
      <li><a  href="#" (click)="this.routerLinkChunkProcessing('/')"><mat-icon>home</mat-icon></a></li>
      <li><a ><span>Project</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/project')" ><span>Project Summary</span></a>
          </li>
          <li ><a (click)="this.routerLinkChunkProcessing('/biology/mtx')" ><span>Degrading MTX</span></a>
          </li>
          <li ><a (click)="this.routerLinkChunkProcessing('/biology/heterogenious')" ><span>An HeteroGenious System</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/demonstrate')"><span>Demonstrating our project</span></a>
          </li>
        </ul>
      </li>

      <li><a ><span>Biology</span></a>
        <ul>
          <li class="has-sub"><a (click)="this.routerLinkChunkProcessing('/biology/parts')"><span>Parts</span></a>
            <ul>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/cpg2')"><i>cpg2</i></a></li>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/folc')"><i>folC</i></a></li>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/lee5')"><i>LEE5</i></a></li>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/ler')"><i>Ler</i></a></li>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/J23108')"><span>Improved part</span></a></li>
              <li><a (click)="this.routerLinkChunkProcessing('/biology/parts-collection')"><span>Parts collection</span></a></li>
            </ul>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/labnotebook')"><span>Lab Notebook</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/biology/hplc')"><span>HPLC Explorer</span></a>
          </li>
          <!-- <li><a href='http://2018.igem.org/Team:GO_Paris-Saclay/protocols'><span>Protocols</span></a>
          </li> -->
        </ul>
      </li>


      <li><a (click)="this.routerLinkChunkProcessing('/modeling')"><span>Model</span></a>
      </li>

      <li><a ><span>Contribution</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/biology/interlab')"><span>Interlab</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/software')"><span>Software</span></a>
          </li>
          <li><a (click)="this.openWikiSourceBottomSheet()"><span>Wiki source code</span></a>
          </li>
        </ul>
      </li>
      <li><a (click)="this.routerLinkChunkProcessing('/human-practices')"><span>Human practices</span></a></li>
      <li><a (click)="this.routerLinkChunkProcessing('/achievements')"><span>Achievements</span></a></li>
      <li><a ><span>Support</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/team')"><span>Team</span></a></li>
          <li ><a (click)="this.routerLinkChunkProcessing('/support')"><span>Sponsors</span></a>
          </li>
          <li ><a (click)="this.routerLinkChunkProcessing('/collaborations')"><span>Collaborations</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/attribution')"><span>Attribution</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/references')"><span>Bibliography</span></a>
          </li>
        </ul>
      </li>








    </ul>
  </div>
</nav>




<div  [ngClass]="{'container': showBackHomeLogo, 'containerfrontpage': !showBackHomeLogo}">

  <div *ngIf="showBackHomeLogo" class="topleft"><a href="#" (click)="this.routerLinkChunkProcessing('/')"><img src="http://2018.igem.org/wiki/images/0/01/T--GO_Paris-Saclay--logogoparissaclay.png" alt="logoparissaclay"></a></div>

  <router-outlet></router-outlet>

  <img *ngIf="showBackHomeLogo" src="http://2018.igem.org/wiki/images/5/5b/T--GO_Paris-Saclay--footerespace.png" class="superposedbanner1">

</div> <!-------------fin container------------->



<!--
<div class="mat-app-background">

<mat-toolbar color="accent">
  <button mat-icon-button (click)="openSideNav()"><mat-icon>menu</mat-icon></button>


  <span class="fill-toolbar-space"></span>
  <div class="titlediv"><span class="firstpartoftitle">Methotr</span><span class="secondpartoftitle">Exit</span><br><span class="subtitleoftitle">HeteroGenious Cleaning Factory</span></div>
  <span style="width:0.2em"></span>
  <img style="max-height:100%; width:auto; padding:1em;" src="http://2018.igem.org/wiki/images/c/c0/T--GO_Paris-Saclay--go-ps-white.png"/>
  <span style="width:0.2em"></span>
  <span style="text-align: center;line-height: 85%; font-size: medium;">Team GO<br>ParisSaclay</span>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="openedSideNav">
    <mat-toolbar style="margin-top: 15px;" color="primary">Navigation  <span class="fill-toolbar-space"></span><button mat-icon-button (click)="openSideNav()"><mat-icon>keyboard_arrow_left</mat-icon></button></mat-toolbar>
    <div>
    <ng-material-multilevel-menu [configuration]='sideMenuConfig' [items]='sideMenuList' (selectedItem)="selectedSideMenuItem($event)">
    </ng-material-multilevel-menu>
    </div>
    -->
    <!--
    <div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['../sitemap']" id="sitemapbut"><mat-icon>apps</mat-icon> Site map</a>
    </mat-nav-list>
    </div>
    -->
    <!--
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1 0 500px" id="sidenavflexcontent">
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>

-->
