
body {
  margin: 2em;
}

.fill-toolbar-space {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

#sitemapbut{
   position: absolute;
  background: white;
  bottom: 0;
  width: 100%;
}

mat-icon{
  padding: 3px;
}

#sidenavflexcontent {
  max-width: 1000px;
}


.titlediv {
  text-align: center;
  line-height: 10pt;
  font-size: 18pt;
}

.firstpartoftitle {
  color: #dbbbf5;
}

.secondpartoftitle {
  color:  red;
}

.subtitleoftitle {
  font-size: 8pt
}
