
<nav>
  <div id='cssmenu'>
    <ul>
      <li><a (click)="this.routerLinkChunkProcessing('/dashboard')"><mat-icon>home</mat-icon></a></li>
      <li><a ><span>Project</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/project')" ><span>Project Design</span></a>
          </li>
          <li ><a href='http://2018.igem.org/Team:GO_Paris-Saclay/pagetemplate2'><span>MTX degradation</span></a>
          </li>
          <li ><a href='http://2018.igem.org/Team:GO_Paris-Saclay/heterogenious'><span>An heterogeneous system</span></a>
          </li>
        </ul>
      </li>

      <li><a ><span>Lab</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/labnotebook')"><span>Notebook</span></a>
          </li>
          <li><a href='http://2018.igem.org/Team:GO_Paris-Saclay/protocols'><span>Protocols</span></a>
          </li>
        </ul>
      </li>

      <li><a (click)="this.routerLinkChunkProcessing('/biology/parts')"><span>Parts</span></a>
      </li>
      <li><a ><span>Model</span></a>
        <ul>
          <li><a href='http://2018.igem.org/Team:GO_Paris-Saclay/model'><span>Overview</span></a>
          </li>
          <li class='has-sub'><a ><span>X</span></a>
          </li>
          <li class='has-sub'><a ><span>X</span></a>
          </li>
        </ul>
      </li>

      <li><a ><span>Contribution</span></a>
        <ul>
          <li><a (click)="this.routerLinkChunkProcessing('/biology/interlab')"><span>Interlab</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/software')"><span>Software</span></a>
          </li>
        </ul>
      </li>
      <li><a (click)="this.routerLinkChunkProcessing('/human-practices')"><span>Human practice</span></a></li>
      <li><a ><span>Acknowledgement</span></a>
        <ul>
          <li ><a (click)="this.routerLinkChunkProcessing('/support')"><span>Sponsors</span></a>
          </li>
          <li><a (click)="this.routerLinkChunkProcessing('/team')"><span>Team</span></a></li>
          <li ><a href='http://2018.igem.org/Team:GO_Paris-Saclay/collaboration'><span>Collaboration</span></a>
          </li>
        </ul>
      </li>








    </ul>
  </div>
</nav>
<!----------------------Project------------------------->



  <!--
  /************************************************************************
  Script navigation NE PAS MODIFIE
  ************************************************************************/

  <script>
    ( function( $ ) {
      $( document ).ready(function() {
        $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
        $('#cssmenu #menu-button').on('click', function(){
          var menu = $(this).next('ul');
          if (menu.hasClass('open')) {
            menu.removeClass('open');
          }
          else {
            menu.addClass('open');
          }
        });
      });
    } )( jQuery );

  </script>

-->



<div class="container">

  <div class="topleft" *ngIf="showBackHomeLogo"><a href="#" (click)="this.routerLinkChunkProcessing('/dashboard')"><img src="http://2018.igem.org/wiki/images/0/01/T--GO_Paris-Saclay--logogoparissaclay.png" alt="logoparissaclay"></a></div>

  <router-outlet></router-outlet>

  <br style="height: 2em;">
</div> <!-------------fin container------------->




<!--
<div class="mat-app-background">

<mat-toolbar color="accent">
  <button mat-icon-button (click)="openSideNav()"><mat-icon>menu</mat-icon></button>


  <span class="fill-toolbar-space"></span>
  <div class="titlediv"><span class="firstpartoftitle">Methotr</span><span class="secondpartoftitle">Exit</span><br><span class="subtitleoftitle">HeteroGenious Cleaning Factory</span></div>
  <span style="width:0.2em"></span>
  <img style="max-height:100%; width:auto; padding:1em;" src="http://2018.igem.org/wiki/images/c/c0/T--GO_Paris-Saclay--go-ps-white.png"/>
  <span style="width:0.2em"></span>
  <span style="text-align: center;line-height: 85%; font-size: medium;">Team GO<br>ParisSaclay</span>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="openedSideNav">
    <mat-toolbar style="margin-top: 15px;" color="primary">Navigation  <span class="fill-toolbar-space"></span><button mat-icon-button (click)="openSideNav()"><mat-icon>keyboard_arrow_left</mat-icon></button></mat-toolbar>
    <div>
    <ng-material-multilevel-menu [configuration]='sideMenuConfig' [items]='sideMenuList' (selectedItem)="selectedSideMenuItem($event)">
    </ng-material-multilevel-menu>
    </div>
    -->
    <!--
    <div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['../sitemap']" id="sitemapbut"><mat-icon>apps</mat-icon> Site map</a>
    </mat-nav-list>
    </div>
    -->
    <!--
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1 0 500px" id="sidenavflexcontent">
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>

-->
