
<div class="mat-app-background">

<mat-toolbar color="accent">
  <button mat-icon-button (click)="openSideNav()"><mat-icon>menu</mat-icon></button>


  <span class="fill-toolbar-space"></span>
  <span>MeThriX</span>
  <span style="width:0.2em"></span>
  <img style="max-height:100%; width:auto; padding:1em;" src="http://2018.igem.org/wiki/images/c/c0/T--GO_Paris-Saclay--go-ps-white.png"/>
  <span style="width:0.2em"></span>
  <span style="text-align: center;line-height: 85%; font-size: medium;">Team GO<br>ParisSaclay</span>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="openedSideNav">
    <mat-toolbar style="margin-top: 15px;" color="primary">Navigation  <span class="fill-toolbar-space"></span><button mat-icon-button (click)="openSideNav()"><mat-icon>keyboard_arrow_left</mat-icon></button></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="routerLinkChunkProcessing('/dashboard')" ><mat-icon>dashboard</mat-icon> Main page</a>
      <a mat-list-item (click)="routerLinkChunkProcessing('/project')" ><mat-icon>assessment</mat-icon> Project details</a>
      <a mat-list-item (click)="routerLinkChunkProcessing('/biology')" ><mat-icon>blur_circular</mat-icon> Biology</a>
      <a mat-list-item  [routerLink]="['../computing']"><mat-icon>memory</mat-icon> Computing</a>
      <a mat-list-item  [routerLink]="['../human-practices']"><mat-icon>accessibility_new</mat-icon> Human Practices</a>
      <a mat-list-item  [routerLink]="['../team']"><mat-icon>people</mat-icon> Our team</a>
      <a mat-list-item  [routerLink]="['../support']"><mat-icon>folder_special</mat-icon> Support</a>
      <a mat-list-item  [routerLink]="['../wiki-lp']" style="background-color: #a6407b0F"><mat-icon>desktop_windows</mat-icon> Wiki Proxy <sup>(dev)</sup></a>

      <a mat-list-item [routerLink]="['../sitemap']" id="sitemapbut"><mat-icon>apps</mat-icon> Site map</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1 0 500px" id="sidenavflexcontent">
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
