<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/0/03/T--GO_Paris-Saclay--fond_groupe.png" class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png" class="bannerimg superposedbanner2">
  <div class="headlinetext">Sponsors</div>
</div>


  <mat-card class="dashboard-card">

    <h2>Our sponsors</h2>

    <div id="sponsors-container">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
        <mat-card *ngFor="let sponsor of sponsorsList" fxFlex="0 1 240px" class="member-card">
          <div class="cardcontent" [@cardState]="sponsor.expanded">
            <div fxLayout="column" fxLayoutAlign="center" *ngIf="!sponsor.expanded_bool">
              <img fxFlex="1 1" src="{{sponsor.image_src}}" style="width: 200px;">
              <div fxFlex="0 0" class="seemorebutton-container">
                <button mat-button class="seemorebutton"
                        (click)="sponsor.toggleState()">
                  <mat-icon aria-label="More about this sponsor">expand_less</mat-icon>
                </button>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center"  *ngIf="sponsor.expanded_bool">
              <div fxFlex="0 0" class="sponsortitle" >
                {{sponsor.name}}
              </div>
              <div fxFlex="0 0" class="sponsortext" >
                <div [innerHtml]="sponsor.sponsor_text"></div>
              </div>
              <div fxFill></div>
              <div fxFlex="0 0" class="seelessbutton-container">
                <button mat-button class="seelessbutton"
                        (click)="sponsor.toggleState()">
                  <mat-icon aria-label="Less about this sponsor">expand_more</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <h2>Special thanks</h2>

    We would like to thank Raphaël Labruère who gave us 110 mg of Methotrexate, It allowed us to do all of the planned degradation test for our project !
<br><br>
    We thank Marie Claude Serre from the I2BC lab. She alone, gave us tons of material we needed for our experimentation. Without her the Summer lab would not have been the same !
<br><br>
    A big thank to Herve Leh, Research Engineer at the I2BC who gave us plenty of tips at the beginning of the lab time, and supervised us during the summer !
<br><br>
  </mat-card>

