#gcontainer{
  margin: 20px;

}

.dashboard-card-content {
  text-align: left;
}

.dashboard-card {
  overflow: auto;
}

.grid-container {
  margin: 20px;
}

.sponsortitle {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.sponsortext {
  font-size : 12pt;

}

.member-card {
  margin: 0.2em 0.2em 0.2em 0.2em;
  /* max-width: 240px; */
  width: 240px;
  min-height: 275px;
}

.seemorebutton-container {

}

.seemorebutton {
  width: 100%;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.seelessbutton {
  width: 100%;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

.additional-info {
  margin-top : 1em;
  font-size : 11pt;
}

.cardcontent {
}

.sponsortext {
  font-size: 12pt;
  font-family: 'Lato', Helvetica, SansSerif;
}

#spontext
{
  font-size: 14pt;
  font-family: 'Lato', Helvetica, SansSerif;
  text-align: justify;
  text-justify: inter-word;
  margin:0px 100px 0px 100px;
  line-height: 25px; 
}

#spe
{
   margin:0px 100px 20px 100px; 
}
