<div class="bannercontainer" id="top">
  <img src="http://2018.igem.org/wiki/images/1/1b/T--GO_Paris-Saclay--tableau_banner.png" class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png" class="bannerimg superposedbanner2">
  <div class="headlinetext">HPLC Explorer</div>
</div>

<mat-card class="dashboard-card largemargin">
  <p class="spacemaker"></p>

  <p>You can explore our full HPLC results using the widget below :</p>
  <app-chromato-explorer></app-chromato-explorer>
  <p class="spacemaker"></p>
</mat-card>
