<div class="innercontainer">
<img id="tuyaujaune" src="http://2018.igem.org/wiki/images/7/76/T--GO_Paris-Saclay--tuyau_jaune.png"alt="tuyau jaune">


<img id="carre_blanc" src="http://2018.igem.org/wiki/images/3/38/T--GO_Paris-Saclay--carre_blanc.png"alt="carre_blanc">

<img id="methotrexit" src="
http://2018.igem.org/wiki/images/2/28/T--GO_Paris-Saclay--methotrexittire.png
"alt="titre logo methotrexit">

<h2 id="sous_titre">Heterogen<img class="idea" src="http://2018.igem.org/wiki/images/c/c6/T--GO_Paris-Saclay--idea.png"alt="idea">ous Cleaning Factory</h2>


<img id="carre" src="http://2018.igem.org/wiki/images/5/5f/T--GO_Paris-Saclay--carre_colore.png"      alt="carres_multicolores">

<div class="discover">
 <p> <a href="#ancre">Discover our project</a></p>
</div>

<img id="bloc2" src="http://2018.igem.org/wiki/images/5/56/T--GO_Paris-Saclay--BON2909bloc2.png" alt="bloc2">

<div id="textbloc2">
  Thanks to medicinal
  advances, each year, drug consumption increases  to treat the population.
  BUT
  Downside drugs aren’t totally metabolized and accumulate gradually in wastewater
</div>
<a id="double_fleche" href="#ancre2"><img id="double_fleche" src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png" alt="double_fleche"></a>

<div id="ancre">o</div>



<img id="bloc3" src="http://2018.igem.org/wiki/images/0/08/T--GO_Paris-Saclay--bloc3.png" alt="bloc3">

<div id="ancre2">o</div>

<div id="leading">Leading to...</div>

<div id="antibio">Antibiotic resistance</div>

<div id="vitro">In vitro human cell death</div>

<div id="alter">Alter ecosystemes</div>

<a id="double_fleche2" href="#ancre3"><img id="double_fleche2" src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png" alt="double_fleche"></a>

<img id="bloc4" src="http://2018.igem.org/wiki/images/6/6d/T--GO_Paris-Saclay--cartelegende.png
" alt="bloc4">
<div id="ancre3">o</div>

<div id="texte_carte">Most of these studies have been performed under countries that already have a wastewater treatment program.
</div>

<div id="text2carte">Pharmaceuticals pollution is underated.</div>

<div id="text3">Some paper, says that if no mitigation action is taken, this environmental threat will increase up to <strong>65%</strong> by 2050 for some drugs.</div>


</div>

<!-- <div class="grid-container">
  <h1 class="mat-h1"><span style="color: #62003c;">Methotr</span><span style="color:  red;">Exit</span> : a HeteroGenious Cleaning Factory</h1>

      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            Our Project
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" >
          <div>
              <div id="d3container" style="margin: auto;">
                <svg id="d3target"  height="400" width="674" style="display: block;margin: auto;">
                  <g transform="translate(20,100)">
                    <text font-size="15" text-anchor="middle" transform="translate(70,-5)">Hospital effluents</text>
                    <g id="d3inputgauge" style="height: 150px;width: 150px;" ></g>
                  </g>
                  <polygon points="5,270 250,270 250,200 400,200 400,270 650,270 650,320 400,320 400,350 250,350 250,320 5,320" style="fill: url('#animate-gradient');stroke: #5a0036FF; stroke-width: 5px" />
                  <g transform="translate(250,200)" id="bacteriacontainer">
                    <g></g>
                  </g>
                  <line x1="250" y1="270" x2="250" y2="320" style="fill: transparent; stroke: #000000ff; stroke-dasharray: 2,2; stroke-width: 2px;"></line>
                  <line x1="400" y1="270" x2="400" y2="320" style="fill: transparent; stroke: #000000ff; stroke-dasharray: 2,2; stroke-width: 2px;"></line>

                  <g transform="translate(470,100)">
                    <text font-size="15" text-anchor="middle" transform="translate(70,-5)">Wastewater output</text>
                    <g id="d3outgauge" style="height: 150px;width: 150px;" ></g>
                  </g>

                  <g transform="translate(180,20)">
                    <text font-size="15" text-anchor="middle" transform="translate(145,163)">Bacterial population</text>
                    <g id="d3bimodal" transform="translate(20,0)"></g>
                    <g id="d3bimodallegend" transform="translate(0,0)"></g>
                  </g>
                </svg>

              </div>

              <div style="padding: 10px;" class="project-pres">
                Cytotoxic anticancer drugs are among harmful chemicals found in hospital wastewater at high concentration.
                Degradation through physical and chemical methods exist but are often inefficient, unsustainable or expensive.
                We propose MethotrExit, a bioreactor-based approach to tackle this problem. We focused on the biotransformation
                of methotrexate (MTX), a widely used anticancer drug.
                <br><br>
                We designed synthetic cassettes encoding a new biotransformation pathway using an heterologous carboxypeptidase
                in Escherichia coli. In only 6 hours, MethotrExit drastically removes MTX from the media.

                However, the degradation of anticancer drugs and the biotransformation pathway itself can be toxic.
                To overcome these issues, biobricks bringing an heterogeneity in enzyme expression were built to ensure the
                survival of a subpopulation. Modeling of this system highlights the interest of a division of labor between
                “cleaning” and “stem” bacterial cells.



              </div>

          </div>



        </mat-card-content>
      </mat-card>



</div>


-->
