<div class="innercontainer">

  <img id="tuyaujaune" src="http://2018.igem.org/wiki/images/7/76/T--GO_Paris-Saclay--tuyau_jaune.png"
       alt="tuyau jaune">


  <img id="carre" src="http://2018.igem.org/wiki/images/5/5f/T--GO_Paris-Saclay--carre_colore.png"
       alt="carres_multicolores">


  <img id="carre_blanc" src="http://2018.igem.org/wiki/images/3/38/T--GO_Paris-Saclay--carre_blanc.png"
       alt="carre_blanc">

  <img id="methotrexit" src="
http://2018.igem.org/wiki/images/2/28/T--GO_Paris-Saclay--methotrexittire.png
" alt="titre logo methotrexit">

  <h2 id="sous_titre">Heterogen<img class="idea"
                                    src="http://2018.igem.org/wiki/images/c/c6/T--GO_Paris-Saclay--idea.png" alt="idea">ous
    Cleaning Factory</h2>


  <div class="discover">
    <p><a href="#ancre" pageScroll>Discover our project</a></p>
  </div>

  <img id="bloc2" src="http://2018.igem.org/wiki/images/5/56/T--GO_Paris-Saclay--BON2909bloc2.png" alt="bloc2">

  <div id="textbloc2">
    Thanks to medicinal
    advances, each year drug consumption increases to meet the needs of the population.<br><br>
    However drugs are not totally metabolized and by-products accumulate in wastewater.
  </div>
  <a id="double_fleche" href="#ancre2" pageScroll><img id="double_fleche"
                                                       src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png"
                                                       alt="double_fleche"></a>

  <div id="ancre">o</div>


  <img id="bloc3" src="http://2018.igem.org/wiki/images/0/08/T--GO_Paris-Saclay--bloc3.png" alt="bloc3">

  <div id="ancre2">o</div>

  <div id="leading">Leading to...</div>

  <div id="antibio">Antibiotic resistance</div>

  <div id="vitro">Disrupting effects on cells</div>

  <div id="alter">Altered ecosystems</div>

  <a id="double_fleche2" href="#ancre3" pageScroll><img id="double_fleche2"
                                                        src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png"
                                                        alt="double_fleche"></a>

  <img id="bloc4" src="http://2018.igem.org/wiki/images/6/6d/T--GO_Paris-Saclay--cartelegende.png
" alt="bloc4">
  <div id="ancre3">o</div>

  <div id="texte_carte">A majority of studies on the subject are done in countries that already have a wastewater
    treatment program.
  </div>

  <div id="text2carte">Pharmaceuticals pollution is underated.</div>

  <div id="text3">If no mitigating action is taken, the environmental threat could increase by up to
    <strong>65%</strong> in 2050 for some drugs.
  </div>
  <div id="titre3">OUR&nbsp;SOLUTION:&nbsp;<span id="metho_rouge">METHOTREXIT</span>
  </div>
  <img id="bloc5" src="http://2018.igem.org/wiki/images/c/c9/T--GO_Paris-Saclay--bacteriapower.png
" alt="bloc5">
  <div id="ancre4">o</div>
  <div id="text_bact1">We designed a unique biotransformation pathway using a heterologously expressed carboxypeptidase
    coupled with FolC in <i>Escherichia coli</i>. <span id="metho_rouge">MethotrExit</span> drastically and quickly removes
    methotrexate, a broadly used anticancer drug, from the media.
  </div>
  <div id="text_bact2">We found <span id="bleu">degrading drugs can be toxic to the bacteria itself</span> and we wanted
    a project that can be adaptable to any drug degradation in wastewater
  </div>

  <div id="text_bact3">We bring <span id="gras">heterogeneity in the form of varying pathway expression</span>, as that
    ensures the survival of a self-renewable reserve subpopulation : <br>
    A division of labor between <span id="metho_rouge">‘cleaning’</span> and <span id="jaune">‘stem’</span> bacteria
  </div>

  <div id="butr">BUT…
  </div>

  <a id="double_fleche3" href="#ancre4" pageScroll><img id="double_fleche3"
                                                        src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png"
                                                        alt="double_fleche"></a>

  <a id="double_fleche4" href="#ancre5" pageScroll><img id="double_fleche4"
                                                        src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png"
                                                        alt="double_fleche"></a>

  <a id="double_fleche5" href="#ancre6" pageScroll><img id="double_fleche5"
                                                        src="http://2018.igem.org/wiki/images/9/93/T--GO_Paris-Saclay--.double_fleche.png"
                                                        alt="double_fleche"></a>
  <div id="ancre5">o</div>
  <div id="ancre6">o</div>
  <div id="sor">SO
  </div>


</div>



<footer class="footer-distributed">

  <div class="footer-left">

    <img id="logo" src="http://2018.igem.org/wiki/images/1/11/T--GO_Paris-Saclay--logobleu.png"alt="logo">

    <p class="footer-company-name">Igem GO Paris Saclay &copy; 2018</p>
  </div>

  <div class="footer-center">

    <div>
      <p><span>15, rue Georges Clémenceau</span> <br>91405 Orsay, France</p>

    </div>

    <div>
      <p id="mail"><a href="mailto:igem.parissaclay@gmail.com">igem.parissaclay@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="https://www.facebook.com/iGEMParisSaclay/"><img id="ic" src="http://2018.igem.org/wiki/images/f/f2/T--GO_Paris-Saclay--socialfb.png" alt="fb"></a>
      <a href="https://twitter.com/igemparissaclay?lang=en"><img id="ic"src="http://2018.igem.org/wiki/images/e/e6/T--GO_Paris-Saclay--twittersocial.png" alt="tw"></a>
      <a href="#"><img id="ic"src="http://2018.igem.org/wiki/images/2/22/T--GO_Paris-Saclay--linkedinso.png"alt="linkedin"></a>

    </div>

  </div>

</footer>
