<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/c/c6/T--GO_Paris-Saclay--team_underbanner.png"
       class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png"
       class="bannerimg superposedbanner2">
  <div class="headlinetext">Our&nbsp;Team</div>
</div>
<!--

  <mat-card class="dashboard-card">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
      <mat-card *ngFor="let member of membersList" fxFlex="0 1 100%" class="member-card">
        <div class="cardcontent">
          <img  src="{{member.image_src}}" class="memberimg">

          <div class="member-name">
            {{member.name}}  <mat-chip-list><mat-chip *ngIf="member.advisor">Advisor</mat-chip> </mat-chip-list>
            </div>
            <div class="member-bio" [innerHTML]="member.bio | sanitizeHtml2">
            </div>

        </div>
      </mat-card>
    </div>
  </mat-card>

-->


<figure id="figure4">
  <p><img src="http://2018.igem.org/wiki/images/6/60/T--GO_Paris-Saclay--TEAM1410.png"
          alt="tableauinterlab">
  </p>
</figure>

<figure id="figure5">
  <p><img src="http://2018.igem.org/wiki/images/e/e1/T--GO_Paris-Saclay--advisorsousmarin.png"
          alt="tableauinterlab">
  </p>
</figure>

<div id="raph"><a href="#raphl"><img src="http://2018.igem.org/wiki/images/a/ac/T--GO_Paris-Saclay--raphaelguegan.png"
                                     alt="logoparissaclay"></a></div>

<div id="rapht">
  Raphael
</div>


<div id="atu"><a href="#atul"><img src="http://2018.igem.org/wiki/images/8/88/T--GO_Paris-Saclay--arthurr.png"
                                   alt="logoparissaclay"></a></div>
<div id="atut">
  Arthur
</div>

<div id="brit"><a href="#britl"><img src="http://2018.igem.org/wiki/images/b/bb/T--GO_Paris-Saclay--britanym.png"
                                     alt="logoparissaclay"></a></div>

<div id="britt">
  Britany
</div>

<div id="clem"><a href="#clemt"><img src="http://2018.igem.org/wiki/images/c/c0/T--GO_Paris-Saclay--clema.png"
                                     alt="logoparissaclay"></a></div>

<div id="clemt">
  Clémence
</div>

<div id="guig"><a href="#guigl"><img src="http://2018.igem.org/wiki/images/c/cb/T--GO_Paris-Saclay--guig.png"
                                     alt="logoparissaclay"></a></div>

<div id="guigt">
  Guillaume
</div>


<div id="jm"><a href="#jml"><img src="http://2018.igem.org/wiki/images/d/d0/T--GO_Paris-Saclay--jm.png"
                                 alt="logoparissaclay"></a></div>

<div id="jmt">
  Julie M.
</div>


<div id="jr"><a href="#jrl"><img src="http://2018.igem.org/wiki/images/1/1f/T--GO_Paris-Saclay--jr.png"
                                 alt="logoparissaclay"></a></div>

<div id="jrt">
  Julie R.
</div>

<div id="ke"><a href="#kel"><img src="http://2018.igem.org/wiki/images/8/89/T--GO_Paris-Saclay--ke.png"
                                 alt="logoparissaclay"></a></div>

<div id="ket">
  Kenn
</div>

<div id="yu"><a href="#yul"><img src="http://2018.igem.org/wiki/images/3/30/T--GO_Paris-Saclay--yu.png"
                                 alt="logoparissaclay"></a></div>

<div id="yut">
  Yueying
</div>

<div id="ous"><a href="#ousl"><img src="http://2018.igem.org/wiki/images/5/5d/T--GO_Paris-Saclay--ous.png"
                                   alt="logoparissaclay"></a></div>

<div id="oust">
  Ousmane
</div>


<div id="arn"><a href="#"><img src="http://2018.igem.org/wiki/images/c/c1/T--GO_Paris-Saclay--arn.png"
                               alt="logoparissaclay"></a></div>

<div id="arnt">
  Arnaud
</div>

<div id="cel"><a href="#cell"><img src="http://2018.igem.org/wiki/images/2/26/T--GO_Paris-Saclay--cel.png"
                                   alt="logoparissaclay"></a></div>

<div id="celt">
  Céline
</div>

<div id="mah"><a href="#mahl"><img src="http://2018.igem.org/wiki/images/d/d5/T--GO_Paris-Saclay--mah.png"
                                   alt="logoparissaclay"></a></div>

<div id="maht">
  Mahnaz
</div>
<div id="oli"><a href="#olil"><img src="http://2018.igem.org/wiki/images/8/80/T--GO_Paris-Saclay--oli.png"
                                   alt="logoparissaclay"></a></div>

<div id="olit">
  Olivier
</div>

<div id="phil"><a href="#phill"><img src="http://2018.igem.org/wiki/images/b/b9/T--GO_Paris-Saclay--phil.png"
                                     alt="logoparissaclay"></a></div>

<div id="philt">
  Philipe
</div>


<div id="ste"><a href="#stel"><img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--steph.png"
                                   alt="logoparissaclay"></a></div>

<div id="stet">
  Stéphanie
</div>

<div id="syl"><a href="#syll"><img src="http://2018.igem.org/wiki/images/f/ff/T--GO_Paris-Saclay--syl.png"
                                   alt="logoparissaclay"></a></div>

<div id="sylt">
  Sylvie
</div>


<div>
  <img id="carretitrepincipal" src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png"
       alt="carretitreprinci">
  <h1 id="titreh1" style="padding-top: 10px;">Team member</h1>
</div>



<div id="photdescr"><img id="raphl" src="http://2018.igem.org/wiki/images/a/ac/T--GO_Paris-Saclay--raphaelguegan.png"
                         alt="logoparissaclay"></div>


<div class="textphot">

  <div id="memg"> Raphaël Gueguan </div>
  <br>

  Age: 23<br>

  Very mathy person.

</div>

<div id="photdescr"><img id="atul" src="http://2018.igem.org/wiki/images/8/88/T--GO_Paris-Saclay--arthurr.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Arthur Radoux</div>
  <br/>

  Age: 23 <br/>

  Handsome lad.
</div>

<div id="photdescr"><img id="britl" src="http://2018.igem.org/wiki/images/b/bb/T--GO_Paris-Saclay--britanym.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Britany Marta</div>
  <br/>

  Age: 23<br/>

  The bacteria queen!
</div>

<div id="photdescr"><img src="http://2018.igem.org/wiki/images/c/c0/T--GO_Paris-Saclay--clema.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Clémence Maupu</div>
  <br/>

  Age: 22<br/>

  Did not break anything.
</div>

<div id="photdescr"><img id="guigl" src="http://2018.igem.org/wiki/images/c/cb/T--GO_Paris-Saclay--guig.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Guillaume Garnier</div>
  <br/>

  Age: 23<br/>

  Sometime, a philosoph.
</div>

<div id="photdescr"><img id="jml" src="http://2018.igem.org/wiki/images/d/d0/T--GO_Paris-Saclay--jm.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Julie Miesch</div>
  <br/>

  Age: 22<br/>

  We like her.
</div>

<div id="photdescr"><img id="jrl" src="http://2018.igem.org/wiki/images/1/1f/T--GO_Paris-Saclay--jr.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Julie Rojahn</div>
  <br/>

  Age: 23<br/>

  Excellence.
</div>

<div id="photdescr"><img id="kel" src="http://2018.igem.org/wiki/images/8/89/T--GO_Paris-Saclay--ke.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Kenn Papadopoulo</div>
  <br/>

  Age: 22<br/>

  All work no play. Also, windsurf.
</div>

<div id="photdescr"><img id="yul" src="http://2018.igem.org/wiki/images/3/30/T--GO_Paris-Saclay--yu.png"
                         alt="logoparissaclay"></div>

<div class="textphot">
   <div id="memg">Yueying Zhu</div>
  <br/>

  Age: 22<br/>

  Efficient !
</div>

<div class="ousm">
  <div id="photdescr"><img id="ousl" src="http://2018.igem.org/wiki/images/5/5d/T--GO_Paris-Saclay--ous.png"
                           alt="logoparissaclay"></div>

  <div class="textphotousm">
     <div id="memg">Ousmane Dao</div>
    <br/>

    Age: 21<br/>

    Dedicated.
  </div>
</div>

<div>
  <img id="carretitrepincipal" src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png"
       alt="carretitreprinci">

  <h1 style="padding-top:10px;padding-left: 10px" id="titreh1">Advisors</h1>
</div>


<div id="photdescr"><img id="cell" src="http://2018.igem.org/wiki/images/2/26/T--GO_Paris-Saclay--cel.png"
                         alt="logoparissaclay"></div>

<div class="textphotadv">
   <div id="memg">Céline Aubry</div>
  <br/>

  We broke her glass cell spreader. Sorry !
</div>


<div>
  <div id="photdescr"><img id="mahl" src="http://2018.igem.org/wiki/images/d/d5/T--GO_Paris-Saclay--mah.png"
                           alt="logoparissaclay"></div>

  <div class="textphotadv">
     <div id="memg">Mahnaz Sabeti Azad</div>
    <br/>

    A breeze of fresh air.
  </div>
</div>

<div id="photdescr"><img id="olil" src="http://2018.igem.org/wiki/images/8/80/T--GO_Paris-Saclay--oli.png"
                         alt="logoparissaclay"></div>

<div class="textphotadv">
   <div id="memg">Olivier Namy</div>
  <br/>

  Tempered our expectations.
</div>

<div id="photdescr"><img id="phill" src="http://2018.igem.org/wiki/images/b/b9/T--GO_Paris-Saclay--phil.png"
                         alt="logoparissaclay"></div>

<div class="textphotadv">
   <div id="memg">Philippe Bouloc</div>
  <br/>

  Phage master.
</div>


<div id="photdescr"><img id="stel" src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--steph.png"
                         alt="logoparissaclay">
</div>

<div class="textphotadv">
  <div id="memg">Stéphanie Bory-Moné</div>
  <br/>

  Leading.
</div>

<div class="ousm2">

  <div id="photdescr"><img id="stel" src="http://2018.igem.org/wiki/images/f/ff/T--GO_Paris-Saclay--syl.png"
                           alt="logoparissaclay"></div>

  <div class="textphotousm">
    <div id="memg">Sylvie Lautru</div>
    <br/>

    Organized our work.
  </div>
</div>

<p class="spacemaker"></p>


