<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/c/c6/T--GO_Paris-Saclay--team_underbanner.png" class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png" class="bannerimg superposedbanner2">
  <div class="headlinetext">Our Team</div>
</div>


  <mat-card class="dashboard-card">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
      <mat-card *ngFor="let member of membersList" fxFlex="0 1 100%" class="member-card">
        <div class="cardcontent" [@cardState]="member.expanded">
          <img  src="{{member.image_src}}" class="memberimg">

          <div class="member-name">
            {{member.name}}  <mat-chip-list><mat-chip *ngIf="member.advisor">Advisor</mat-chip> </mat-chip-list>
            </div>
            <div class="member-bio" [innerHTML]="member.bio | sanitizeHtml2">
            </div>

        </div>
      </mat-card>
    </div>
  </mat-card>

