<div class="grid-container">
  <h1 class="mat-h1">Our team</h1>

  <mat-card class="dashboard-card">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
      <mat-card *ngFor="let member of membersList" fxFlex="0 1 100%" class="member-card">
        <div class="cardcontent" [@cardState]="member.expanded">
          <img  src="{{member.image_src}}" class="memberimg">

          <div class="member-name">
            {{member.name}}  <mat-chip-list><mat-chip *ngIf="member.advisor">Advisor</mat-chip> </mat-chip-list>
            </div>
            <div class="member-bio" [innerHTML]="member.bio | sanitizeHtml2">
            </div>

        </div>
      </mat-card>
    </div>
  </mat-card>
</div>
