<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/0/03/T--GO_Paris-Saclay--fond_groupe.png"
       class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png"
       class="bannerimg superposedbanner2">
  <div class="headlinetext">Human&nbsp;Practices</div>
</div>

<mat-card class="dashboard-card largemargin">
  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Overview</h1>
  </div>

  <p>The impact of chemical pollution of hospital wastewaters is not yet well known. Indeed, there is very little data
    on the subject. Nevertheless, this remains an important social issue because the molecules present in the wastewater
    can eventually end up in the water that is drunk at the tap. We had the opportunity to write a small article that
    will soon be published to inform the public about our project (in the <a
      href="https://www.medecinesciences.org/en/">Medecine-Science journal</a>).
  </p>
  <p>In an effort to integrate human practice, we decided to interview physicians and scientists working on the subject,
    whose opinion opinions deeply shaped our project.</p>

  <p>We also sought to apprehend the legislation on the subject in order to build our project in legality. As our
    project
    is using GMOs, it is important to respect European and French standards concerning the use of modified bacteria.For
    this we contacted and interviewed a lawyer.</p>

  <p>Our project may also interest industries specialized in water treatment because it is a simple system to set up,
    inexpensive and broad spectrum which is of a real industrial interest.</p>

  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Project building</h1>
  </div>


  <p>A few members of our team proposed that we could work to degrade oestrogens in wastewaters.</p>
  <p>But this subject was already very popular and had been explored by several iGEM teams. Since we still wanted to
    treat
    wastewaters, we started thinking about which drugs were not well known for their treatments in waters and could
    actually be dangerous. The anticancer drugs raised our attention. There are very few data on how they are degraded
    and
    their impact on the environment even though it is well known that these drugs are very harmful.</p>

  <p>Only the chemists in our team had a little knowledge on those drugs but it was not enough to build a whole project.
    A
    lot of questions came to our minds: “how are they degraded? Is the degradation process included in the drug design
    process? …”. To answer our first questions with started by a very long bibliographic work to find as many
    information
    and as many answers as possible.</p>
  <p>We found out that several drugs, not only oestrogen, can be harmful for us and ecosystems. In one of the most
    striking
    articles we found, the authors developed an in vitro culture of human cells in a mixture that contained some
    hospital
    wastewater. The results were frightening, cells could not develop or grow. A lot of articles explain that the amount
    of the different drugs contained in surface waters and hospital effluents can change the behaviours of fish or
    impact
    their development. In the case of anticancer drugs only, less functional studies have been realised until now, even
    if
    quantifications show the same dramatic effect as for the other pharmaceuticals.</p>
  <p>Since there are very few data and reviews in scientific literature in this field, we decided to write our own
    article
    that will be soon publish in the Medecine/Science journal. This review will be about our project and the impact of
    anticancer drugs in wastewaters. We tried to combine all the information we found and wrote an article from it.</p>
  <p>This lack of data encouraged us to contact scientists and pharmacists to help us increase our knowledge on the
    subject
    and shape our project concept.</p>

  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Impact of pharmacists and scientists</h1>
  </div>
  <p>To develop our project, we contacted several researchers that specifically work on anticancer drug development. We
    established a survey to get to know the habits of specialists working with those drugs. We sent out our
    questionnaires
    to two of the main French cancer research centers: the Institut Curie and the Institut Gustave Roussy.</p>
  <p>The 18 scientists interviewed were mostly researchers (94.1%), one was a health professional and the last one was a
    studies engineer. Among all of them 47.1% use cytostatic or cytotoxic drugs (Fig. 1). 35.3% use them less than once
    a
    month and 23.5% use them once or twice a month, and 23.5% once or twice a week. The other drugs (Immunotherapy,
    Tyrosine Kinase Inhibitors, BRaf inhibitors) are used less commonly, we thus decided to focus on cytostatic and
    cytotoxic drugs based on the survey results.</p>


  <mat-card class="normalmargin" style="width: 80%;">
    <img src="http://2018.igem.org/wiki/images/9/94/T--GO_Paris-Saclay--1_PercentageSpecialist.png" class="wideimg">
    <img src="http://2018.igem.org/wiki/images/3/3c/T--GO_Paris-Saclay--1_PercentageFrequency.png" class="wideimg">
    <div class="mat-caption captionafterapicture">Figure 1: Percentages of anticancer drugs family used by specialists
      and the frequency of use.
    </div>
  </mat-card>


  <p>Before choosing any specific drug we asked these scientists if during the drug development process they took in
    consideration the degradation of the anticancer drugs after use. At our biggest surprise, we found out that 46.7% do
    not consider this step during their researches. And the 53.3% remaining, only consider it rarely or sometimes but it
    is never an integrated aspect of the development process. Even though most of these scientists confess that they do
    not have enough time to really think of this step, 64.7% of them agree that it should be taken in consideration
    during
    the drug development process.</p>

  <mat-card class="normalmargin" style="width: 80%;">
    <img src="http://2018.igem.org/wiki/images/9/98/T--GO_Paris-Saclay--3_2_PercTakingIntoAccount.png" class="wideimg">
    <img src="http://2018.igem.org/wiki/images/1/1b/T--GO_Paris-Saclay--4_2_MoreTimeSpent.png" class="wideimg">
    <div class="mat-caption captionafterapicture">Figure 2: First graph : Percentages of researchers taking in
      consideration the
      degradation in the environment of the anticancer drugs during the development process; Second graph : number of
      researchers
      thinking more time should be spent on the environmental impact of drug degradation during the development phase.
    </div>
  </mat-card>

  <p>Lastly we asked them if using microorganisms such as bacteria could be a reasonable solution to tackle the need to
    develop a specific elimination system for anticancer drugs found in hospital wastewaters. 41.2% agreed and 41.2%
    remained uncommitted which encouraged us to continue developing our concept. </p>

  <mat-card class="normalmargin" style="width: 80%;">
    <img src="http://2018.igem.org/wiki/images/2/28/T--GO_Paris-Saclay--5_3_BacteriaOK.png" class="wideimg">
    <div class="mat-caption captionafterapicture">Figure 3: Number of researchers thinking that using bacteria could be
      a reasonable solution.
    </div>
  </mat-card>


  <p>You can find below a video of the interview of one of the researchers, Maria Koźlak, a PhD candidate at the
    Institut Curie who works in the Marie Dutreix team on « DBait molecules/ Reparation, Recombination and Cancer».
  </p>

  VIDEOEMPLACEMENT

  <p>As you can see in the video, Maria shares with us the same observations as her colleagues. The main anticancer
    drugs used in the laboratories are the cytostatic/cytotoxic drugs, and unfortunately scientists do not have time to
    work on the degradation step during the drug design process. These weeks of investigations comforted us: there is an
    urge to tackle this major environmental issue. There is a lack of researches on degradation of anticancer drugs. No
    specific method seems to be developed for the future cures.
    Scientists of these two institutes helped us to shape our project by leading us to work on the degradation of
    cytostatic molecules since they are the most used.
  </p>
  <p>
    At this point we heard about methotrexate (MTX). We had a particular interest in this drug because of its uses in
    many diseases. Indeed, it is used to treat cancer as a cytostatic drug but it is also to treat chronic inflammatory
    syndromes such as psoriasis, arthritis, and many others.
  </p>
  <p>
    For sure, a lot of questions remained in our heads. Does the wastewater industry implement specific methods to
    degrade anticancer drugs? Can our type of project (use GMOs to degrade specifically anticancer drugs) have an
    industrial interest?
  </p>

  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Confronting our idea to industries</h1>
  </div>


  <p>We met and discussed with the Dr R. Labruère, a scientist in chemistry and researcher at the Paris-Saclay
    University.
    He works on drug elimination in wastewaters. He helped us to create and develop MethotrExit. During our different
    meetings we were comforted on our project relevance. But at the end of one discussion he told us that industry would
    not be interested in a treatment that cannot be adaptable for several drugs. He advised us to make a specific but
    adaptable project, a kind of “toolbox” that could degrade a large spectrum of drugs but using only one simple
    method.
  </p>
  <p>
    It’s with him that we specifically choose to work on the methotrexate (MTX) as a proof of our concept. Other
    scientists already told us that this drug could be an interesting target. Dr Labruère explained clearly that if not
    treated in the hospital effluents, this drug metabolized into a more harmful molecule. If low doses of MTX already
    impact fish populations with lethal nerve development defects, we cannot imagine how much the 7-OH-MTX, its
    metabolite, can be dangerous for the environment.
  </p>

  <!--

  <mat-card class="sidefigure" style="width: 50%;">
    <img src="http://2018.igem.org/wiki/images/1/11/T--GO_Paris-Saclay--6_arvia.png" class="wideimg">
  </mat-card>

  <p>To get a real industrial opinion we asked almost 20 different organizations from all over the world, private or
  public, that all work on wastewater treatment. We struggled a lot to contact them and at the end only one company
  accepted to help us with our project and to define what was already done in industries. We discussed and interviewed
  an expect from Arvia Technology Company, one of the British leaders in wastewater treatment. Below,
  you can read the major part of the written interview between one of the GO Paris-Saclay iGEMers and the expert of
    Arvia Technology:</p>
  -->

  <p>According to Francesco Bregoli from the European Geosciences Union, water contamination by pharmaceutical products
    could increase by two third until 2050.</p>
  <p>It reassured us a lot that a well-known specialized company in this field found our project interesting. They
    confirmed Dr Labruère’s position on the “toolbox” idea and the more adaptable system. These interviews helped us to
    be
    more precise on our project and to figure out a societal issue.</p>
  <p>To make sure our concept was complete, we still needed to check the legality of MethotrExit.</p>


  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>MethotrExit and french laws</h1>
  </div>

  <p>To make sure our project was built respecting the French Laws we interviewed a lawyer Mrs C. Deschamps. Indeed, it
    is important to make sure that our project is viable, but it is as important to make sure that our project is
    legal.</p>

  <p>Mrs. Deschamps explained to us that protecting aquatic ecosystems and humans around these is a very large task
    depending on a lot of different parameters and laws. But most of these laws can be found in the european <i>Directive
      Cadre sur l’Eau</i> (DCE), in the french <i>Code de l’Environnement</i> and <i>Code de la Santé Publique</i>, and
    in two different
    guides: the <i>Guide du Haut Conseil de Biotechnologie</i> (HCB) and the Guide de gestion des déchets hospitaliers.
    All
    those texts are very important and can not be ignored when building a project like ours. Since 2012, we can observe
    a real evolution on the environmental law.</p>

  <p>Here you will find the written interview of Mrs. Deschamps:</p>

  <h2>1. What are the laws for the preservation of aquatic ecosystems in France?</h2>
  <p>There is a multiplicity of texts whose objective is the preservation of aquatic ecosystems: the subject is very
    vast.</p>

  <p>They depend not only on the areas concerned (urban, protected, ...) but also on the nature of the activity, or the
    nature of the discharges likely to harm the environment. Beyond the preservation of the ecosystem itself, there is
    the health of people who are inevitably victims of their degradation.</p>

  <p>At European level, the Water Framework Directive (WFD) (2000/60 / EC), adopted on October 23, 2000, already
    established a Community framework for the rational management of water and the protection of wetlands with the aim
    of the good ecological status of the water bodies.</p>

  <p>In French law, these rules are essentially contained in the Code of the Environment (CE) and in the Code of Public
    Health (CSP). The Environment Code includes a specific section for the preservation of water from the aquatic
    environment, in its book II "Physical Environments", Title 1, "Water and aquatic and marine environments". It is for
    the legislative part, articles L210 and L211-1 and following.
  </p>

  <p>This code evolves and laws are taken regularly. For example the Law n ° 2006-1772 of December 30th, 2006 on the
    water and the aquatic environments and the Law n ° 2016-1888 of December 28th, 2016 of modernization, development
    and protection of mountain territories, or the ordinance n ° 2017-80 dated on January 26th, 2017 relative to the
    environmental authorization.</p>

  <p>Here is an extract of the Article L214-1:</p>
  <p><i>Sont soumis aux dispositions des articles L. 214-2 à L. 214-6 les installations, les ouvrages, travaux et
    activités
    réalisés à des fins non domestiques par toute personne physique ou morale, publique ou privée, et entraînant des
    prélèvements sur les eaux superficielles ou souterraines, restitués ou non, une modification du niveau ou du mode
    d'écoulement des eaux, la destruction de frayères, de zones de croissance ou d'alimentation de la faune piscicole ou
    des déversements, écoulements, rejets ou dépôts directs ou indirects, chroniques ou épisodiques, même non
    polluants.</i>
  </p>
  <p>This article explains that installations, works and activities carried out for non-domestic purposes by any natural
    or legal person, public or private, and resulting in withdrawals from superficial or underground water, whether or
    not returned, a change in the level or method of disposal of water the destruction of spawning areas, growth areas
    or feeding grounds for fish fauna or direct or indirect, chronic or episodic spills, discharges, discharges or
    deposits, even if they are not polluting, are subject to precise regulation.
  </p>

  <p>They provide a prior authorization mechanism before any installation, the administrative authority verifies that
    the facilities comply. In particular and in accordance with Article L181-3 of the same Code, authorization may only
    be granted if the measures it entails ensure the prevention of dangers or disadvantages for the interests mentioned
    in Articles L. 211-1 and L. 511-1, as the case may be.

    The environmental authorization can only be granted if the measures it contains also ensure :
  </p>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Conditions for authorization
      </mat-panel-title>
      <mat-panel-description>
        Code de l'environement (Environment Code)
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="font-style: italic;">
      <p>1 ° Compliance with the conditions set by Articles L. 229-7 to L. 229-10 for allocating greenhouse gas emission
        allowances;</p>

      <p>2 ° The conservation of the interests defined in articles L. 332-1 and L. 332-2 as well as, if necessary, the
        implementation of the regulation or the obligation mentioned in article L. 332-2, as translated by the act of
        classification provided for by Article L. 332-3, when the environmental authorization takes the place of special
        authorization under a nature reserve created by the State;</p>

      <p>3 ° The preservation or preservation of the interest or interests that are attached to the classification of a
        site or natural monument mentioned in Article L. 341-1 as well as those mentioned by the classification
        decision,
        when the Environmental authorization is the special authorization provided for by Articles L. 341-7 and L.
        341-10;</p>

      <p>4 ° the respect of the conditions, fixed in 4 ° of the article L. 411-2, of issue of the derogation to the
        prohibitions enacted for the conservation of sites of geological interest, natural habitats, non-domestic animal
        species or non-crop plants and their habitats, where the environmental authorization serves as the derogation;
        5 ° The respect of the conservation objectives of the Natura 2000 site, when the environmental permit serves as
        the absence of opposition mentioned in VI of Article L. 414-4;</p>

      <p><b>6 ° The respect of the conditions of the contained use of genetically modified organisms envisaged by the
        first
        paragraph of I of the article L. 532-2 fixed by the technical prescriptions mentioned in II of the article L.
        532-3 when the authorization takes the place of approval, or the respect of the conditions fixed by the second
        subparagraph of I of the article L. 532-3 when the use is subjected only to the declaration envisaged by this
        subparagraph;</b></p>

      <p>7 ° the respect of the conditions of exercise of the activity of waste management mentioned in the article L.
        541-22, when the authorization takes place of approval for the treatment of waste in application of this
        article;</p>

      <p>8 ° Consideration of the criteria mentioned in Article L. 311-5 of the French Energy Code, when the
        environmental
        permit is used to authorize the operation of a power generation installation in application of the Article L.
        311-1 of this Code;</p>

      <p>9 ° The preservation of the interests listed in Article L. 112-1 of the Forest Code and the functions defined
        in
        Article L. 341-5 of the same Code, when the environmental permit is used as a clearing permit;</p>

      <p>10 ° The respect of the conditions of issue of the authorizations mentioned in 12 ° of article L. 181-2, when
        the
        environmental authorization takes the place of these authorizations.</p>
    </div>

  </mat-expansion-panel>

  <p class="spacemaker"></p>
  <h2>2. What are the laws concerning the treatment of wastewater?</h2>
  <p>There are laws for each particular waste type, health facilities emit a wide variety of waste.</p>

  <p>Some are radioactive, others have a significant risk of viral or bacterial infection. For example, what do you do
    with
    an Ebola strain? Radioactive waste? Liquid waste is distinguished by risk category: Radioactive, Infectious,
    Chemical, Combined.</p>


  <p>As for the circuit of the drug, it is also treated according to its cytotoxic dangerousness or not.</p>
  <p>- Liquid waste resulting from the establishment's activities meets the specific regulations
    waste related;</p>
  <p>- The effluents (or wastewater) joining the facility's wastewater collection network and then the collective sewage
    system or the receiving environment, comply with the specific regulations concerning the discharge of
    wastewater.</p>

  <p>Taking sustainable development into account has resulted in its inclusion in the health facility certification
    manual.
    Certifying thus makes it possible to authenticate the commitment of healthcare institutions to sustainable
    development
    (Article L. 6113-3 of the Public Health Code (CSP)).</p>
  <p>See also : Environmental Code, Articles L. 541-1 and L. 541-1-1. And the decree n ° 2012-557 of April 24, 2012
    relating to the obligations of transparency of the companies in social and environmental matter.</p>

  <h2>3. Are there any specific laws regarding hospital wastewater?</h2>
  <p>Here, when we talk about drugs, we can talk about various treatments, including liquids. They will not all have the
    same toxicity or the same characteristics.</p>
  <p>Waste is therefore classified according to these characteristics.</p>
  <p>Some medicines contain dangerous substances (as defined in article L. 1342-2 of the CSP).</p>

  <p>The circular of the Directorate of Relations at Work (DRT) No. 12 of May 24, 2006 classifies the drugs in the
    category of chemical agents and mentions, within the scope of the regulations on the dangerous chemical reagents,
    the consideration of certain which, although not meeting the criteria for the European classification of dangerous
    substances, may pose a risk to the health or safety of workers.</p>

  <p>Among the drugs at the origin of the waste, one distinguishes notably:</p>
  <p>- drugs used in human medicine (or veterinary medicine), non-cytotoxic, non-cytostatic;</p>
  <p>- drugs used in human (or veterinary), cytotoxic and cytostatic medicine;</p>
  <p>- narcotics;</p>
  <p>- drugs used in nuclear medicine (radiopharmaceuticals);</p>
  <p>- drugs used in clinical trials.</p>
  <p style="margin-bottom:1.3em;"></p>
  <p>All waste from drugs in these facilities includes:</p>
  <p>- pharmaceutical raw materials used for the manufacture of medicinal products and
    preparations;</p>
  <p>- medicines that have become unsuitable for the intended initial use (expired, altered,
    used, partially used, not administered, not used), generated by the establishment, returned by individuals to the
    pharmacy for indoor use or returned by patients during a consultation or hospitalization;</p>
  <p>- single-use medical devices and devices used for the preparation before administration and / or the administration
    of drugs (compresses, syringes, needles, solute bags, perfusers, peripheral catheters, central catheters, etc.) or
    incorporating active substances;</p>
  <p>- emptied primary packaging contaminated with drug residues (empty acons, empty vials, etc.);</p>
  <p>- secondary and tertiary instructions and packaging (cartons, etc.).</p>
  <p>"DIMED" means all the above-mentioned wastes, which are hazardous or non-hazardous waste. DIMED management methods
    are currently organized mainly in establishments within two sectors: healthcare waste with infectious and similar
    risks and chemically hazardous waste.</p>

  <p>The collection and destruction of UNMs, with the exception of narcotics which are the subject of specific
    management, are governed by Articles R. 4211-24 to R. 4211-31 of the CSP. In application of these articles, the
    Cyclamed association is approved by the public authorities to manage them; Although the PUIs are required to collect
    the UNMs free of charge, the collection and processing circuits managed by Cyclamed are organized so far only in the
    community pharmacies.</p>
  <p>Here is a list of different references and articles about the waste treatments in health facilities.</p>
  <p>- Code of the environment, article R. 541-8.</p>

  <p>- Public Health Code, Articles L. 5132-1 and following, L. 4211-2, R. 4211-24 to R. 4211-31, R. 5132-36, R.
    1335-8.</p>

  <p>- Labor Code, articles R. 4412-1 and following.</p>

  <p>- General Code of Local Government, Article L. 2224-14.</p>

  <p>- Order of March 12, 2013 on substances, preparations, drugs classified as narcotic or subject to the regulation of
    narcotic drugs in health establishments, health cooperation groups, social and medical-social cooperation groups,
    medical establishments -sociaux mentioned in Article R. 5126-1 of the Public Health Code and plastic surgery
    facilities that meet the conditions set out in Article L. 6322-1 of the Code and have an indoor pharmacy .</p>

  <p>- Order of February 29, 2012, containing the contents of the registers mentioned in articles R. 541-43 and R.
    541-46 of the French Environment Code.</p>

  <p>- Decree of April 6, 2011 on the quality management of medication management and medicines in health
    establishments.</p>

  <p>- Order of June 18, 2009 on good practices for the use of anticancer drugs in veterinary medicine.</p>

  <p>- Order of September 20, 2002 relating to incineration and co-incineration facilities for non-hazardous waste and
    facilities incinerating infectious health care waste.</p>

  <p>- Circular no. DGOS / PF2 / 2012/72 of February 14, 2012 on the quality management of drug in health
    facilities.</p>

  <p>- Circular No DGOS / PF2 / 2011/290 of July 15, 2011 on the agreement between a home-based care establishment with
    an indoor pharmacy and the holder (s) of a pharmacy of cine under Article R. 5126-44-1 of the Public Health
    Code.</p>

  <p>- <b>Circular No. DHOS / E4 / DGS / SD7B / DPPR / 2006/58 of February 13, 2006 on the disposal of waste generated
    by cancer treatments</b>.</p>

  <p>- DRT Circular No. 12 of May 24, 2006 on the general rules for the prevention of chemical risks and the special
    rules to be adopted against the risks of exposure to carcinogenic, mutagenic or toxic agents for reproduction.</p>


  <h2>4. With regard to drugs and pharmaco-chemical pollutants, are there laws ensuring their specific treatment in
    wastewater?</h2>
  <p>Waste management is based on several guiding principles, among which the responsibility of the waste producer
    (Article L. 541-1-1 of the Environment Code (EC)). The so-called "extended producer responsibility" ("EPR") sectors
    - which make the producers of certain manufactured products contribute to the treatment of the waste that comes from
    these products - are an exception to this principle.</p>

  <p>The identification of the hazardous property or properties of the waste makes it possible to characterize the risk
    and to direct the waste towards a suitable die. Within the institutions, several channels may exist.</p>

  <p>In order to reach the appropriate sector, waste produced by an establishment follows a typical path. These steps
    correspond to the definition of waste management (Article L.541-1-1 of the EC).</p>

  <p>The management of liquid waste at source must make it possible to limit any risk of water pollution. The chapters
    dedicated to the different types of waste produced in the establishments describe how to achieve the best management
    methods (depending on the risk (s) associated with the waste). However, it appears that certain pollution can not be
    collected and managed and that they will join the wastewater network of the establishment: it is in particular
    cleaning water premises, rinsing water of some devices laboratories, etc.</p>

  <p>Pollutants and undesirable elements, other than those mentioned in the previous chapters, may be present in the
    liquid waste of certain activities. For example, kitchens (relay or production) release fat and laundries release
    water containing detergent residues at a high temperature and pH. Can also be mentioned the waters of brine
    networks, those of treated primary heating networks, those of sanitary water systems treated with chlorine and / or
    homogeneous products, those of cooling towers treated with disinfectants and dispersants etc.</p>

  <p>In addition, whether they are discharged into a unitary network *, a dedicated network or infiltrated into the
    natural environment at the establishment level, the facility's rainwater (roads, etc.) can also pose a risk. of
    pollution. Therefore, they must, at least, be pretreated with respect to hydrocarbons. Their collection network must
    be capable of being isolated in the event of an accidental release of a hazardous product or the presence of
    fire-fighting water.</p>

  <p>The specificities of some old networks must also be taken into account. Thus, there are still networks of
    wastewater units that make the sizing of devices (pre) treatment complex (need in all cases to provide by-pass in
    case of very significant rainfall). The wastewater networks of the old sites can also present leaks (due to
    movements of soil, root developments, etc.) which will, among other things, be able to cause the diffusion of
    pollutants in the natural environment. Finally, wastewater collection networks can have substantial deposits of
    solids. However, these sediments often concentrate a significant pollution and it is necessary that the program of
    management of the sewage networks integrates the realization of regular cleaning of the collection pipes.</p>

  <p>It is important that the pollution is known and minimized before any spill from the network of the establishment to
    the collective sanitation system or to the receiving environment.</p>

  <p>It is therefore important for the institution to put in place a comprehensive management policy for its network and
    management of liquid discharges.</p>

  <p>Liquid waste from establishments is classified as non-domestic wastewater * as defined by the EC. They result from
    the mixing of wastewater from household activities and wastewater from all care and technical and logistic
    activities. As such, the connection to the collective sewerage system is conditional on the issuance of a prior
    authorization of a spill (Article L. 1331-10 of the CSP) by the competent authority (ies) in matters of
    environmental protection. sanitation (mayor or president of the public institution responsible for collecting the
    spill if the police powers of the mayors of the member communes were transferred to him and after consulting the
    public person in charge of transport and treatment wastewater and sludge treatment downstream) manager (s) of the
    public sewage collection network. Indeed, there is no obligation for a local authority to receive and treat
    non-domestic wastewater.</p>

  <p> The regulation of the sanitation service defines the requirements related to the adoption of the spill
    authorization. This is taken in the form of an order of the responsible authority. It is limited in time and
    renewable. It indicates the characteristics that wastewater must present in order to be discharged (in particular
    with regard to the nature of the network and the treatments used) and the spill monitoring conditions (parameters to
    be measured, frequency of measurements, unannounced inspections, in particular considering the limits of discharges
    ...). The results of the periodic control of the prescribed discharges must be transmitted to the collection system
    manager and the wastewater treatment plant manager, who must in turn transmit them to the water police services once
    a year.</p>

  <p>The spill authorization may also make the spill conditional on the implementation of appropriate pretreatment such
    as screening, degreasing or deoiling.</p>
  <p>In addition, the spill authorization shall, where appropriate, require the establishment to immediately alert the
    competent authority in the event of an accidental spill.</p>

  <p>Lastly, it should be noted that the level of spills mentioned in the authorization granted to the establishment may
    lead to a weighting of the amount of the remediation fee.</p>

  <p>The regulation recalls that it is forbidden to introduce into the public sanitation system, among others (Article
    R. 1331-2 of the CSP, Article 13 of the Decree of July 21st, 2015):</p>

  <p>- directly or through building pipelines, any solid, liquid or gaseous, which may be toxic to the environment, to
    be the cause either of a danger to the operating personnel or to the inhabitants of the buildings connected to the
    collection system, or of a deterioration of the drainage works and of treatment, either of a hindrance in their
    operation - in other words, "any substance which can release, by itself, or after mixing with other effluents, gases
    or vapors dangerous, toxic or flammable";</p>
  <p>- solid waste (wipes, diapers, plastic bags, etc.), including after grinding.</p>
  <p>- Public Health Code: L. 1331-10, L. 1331-15, R. 1331-2.</p>


  <h2>5. Are hospitals subject to legislation regarding the treatment of organic waste?</h2>
  <p>Yes.</p>
  <h2>6. Do these laws take into account the waste that can be found in wastewater?</h2>
  <p>Yes.</p>

  <h2>7. Do you have any ideas for filling any legal loopholes or limitations of our project?</h2>

  <p>The cultivation and marketing of GMOs on the European territory are mainly governed by two texts: Directive 2001/18
    / EC and Regulation 1829/2003, relating to deliberate release (marketing for cultivation or food , clinical trials
    and field trials). In the context of a contained use (research laboratories, industrial production), GMOs are
    regulated by Directive 2009/41 / EC.</p>

  <p>In France It is impossible to use or manufacture a GMO without first having a specific authorization. Applications
    for GMO authorization fall into three broad categories:</p>
  <p>- contained uses permit the use of GMOs for industrial production or research purposes;</p>
  <p>- uses for deliberate release allow their use for marketing purposes (for animal or human food, GMO seeds and
    plants, veterinary drugs, gene therapy products or non-food products such as cut flowers);</p>
  <p>- some GMOs are not intended for marketing and are part of experiments such as field experiments or biomedical or
    veterinary research.</p>

  <p>The competent authority to issue authorizations for the use of GMOs depends on their field of application
    (agriculture, consumption, health, research), but the Ministry of the Environment is always consulted. Whatever the
    type of authorization request, an assessment of the potential risks to human health and the environment of the use
    of the GMO concerned is always carried out beforehand by the High Council for Biotechnology, which issues an opinion
    and / or a recommendation depending on the nature of the application for authorization.</p>

  <p>In a case of contained use I invite you to read the guide of HCB, which deals in particular with the treatment of
    the production and waste GMO:</p>

  <p>- Conditions for authorizing research on genetically modified or genetically modified health products: public
    health code, art. R. 1125-1 and s.</p>

  <p>- General provisions for the control of the use and dissemination of genetically modified organisms:</p>
  <p>▪ environmental code Art. L. 124-3, Art. L. 531-1 et seq., Art. L. 532-1 et seq., Art. L. 533-1 et seq., Art. L.
    534-1, Art. L. 535-1 et seq., Art. L. 536-1 et seq., Art. L. 537-1, Art. D. 531-1 et seq., Art. R. 532-1 et seq.,
    Art. R. 533-1 et seq., Art. R. 536-1 and s.</p>
  <p>▪ rural code and sea fishing Art. L. 663-1 et seq., Art. D. 663-1 and s.</p>
  <p>▪ non-codified texts.</p>


  <h2>8. Legally, what are the risks in the event of a leak in the containment of the bioreactor?</h2>

  <p>It depends on the nature of the risk of the leak as well as the cause of the leak.
    It is important to remember that criminal penalties are provided for environmental and personal health and safety
    violations, usually with extremely high fines.</p>

  <h2>9. More generally, what do you think of the project itself?</h2>
  <p>This project is a particularly interesting research project. I think you must first and foremost think about
    protecting your ideas.<br>
    Given its novelty, why not consider a Solleau envelope or a patent?
  </p>

  <h2>10. Have you ever heard of something similar?</h2>
  <p>I am far from having your level of knowledge in this area. Your project reminds me of the sanitation of swimming
    pool
    waters, for example, by means of certain organisms (micro-algae), nevertheless your case presents the peculiarity of
    the genetic modification which seems to me unique.</p>

  <p class="spacemaker"></p>

  <p>Interviewing specialists and scientist was necessary to build the most suitable concept and caring about the legal
    aspect was obligatory to make it work. At this point, one last question came to our minds, what about the public
    opinion? Would our project be accepted by society?</p>

  <div class="titrebloc">
    <img class="carretitrepincipal"
         src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Public opinion</h1>
  </div>

  <p>Since we asked a lot of specialists to ensure that our project could work and is legal we also thought that we
    needed
    to ask the public if they agreed with our idea. To make a project work, specialists are important but they are not
    directly the persons that will benefit it. Here, the “consumer” are people who drink tab water. All the society is
    concerned by our idea, it was obligatory to involve its opinion in the Methotrexit building process.</p>

  <p>We developed a survey open to everyone to gather the public’s opinion. 170 persons from all ages and all
    professions
    answered to our questionnaire. 90.1% (A) of them admitted taking some medications during the past year. 92.9% (B) of
    this medications were anti-inflammatory drugs (such as paracetamol), 45.5% were antibiotics, 30.3% were birth
    control
    pills, 23.2% were antihistamines (and other allergy treatments), and 20.2% were other treatments (none specified).
    No
    one went through heavy treatments such as cancer treatments.</p>

  <mat-card class="normalmargin" style="width: 80%;">
    <img src="http://2018.igem.org/wiki/images/9/9e/T--GO_Paris-Saclay--7_4_tookMedicine1.png" class="wideimg">
    <img src="http://2018.igem.org/wiki/images/4/4e/T--GO_Paris-Saclay--8_4_tookMedicine2.png" class="wideimg">
    <div class="mat-caption captionafterapicture">Figure 4: Percentages of persons who took some medications during the
      last year, and percentages of the different drugs taken by the persons in during the last year.
    </div>
  </mat-card>

  <p>Most of them are concerned about the fate (degradation, environmental spreading…) of the drugs they use (60.9%) but
    most of them don’t actually know what the current techniques of drug degradation are (93.5%) and what are the
    impacts
    of drug spreading in the environment (60.4%). These percentages pushed us to sensitize and inform people all around
    us
    and on social networks about our concept and wastewater treatments. Since some of these drugs end up in the tab
    water
    we drink, it is important to warn them and to be sure that our idea can be accepted by the society.</p>

  <p>We asked our panel if they agreed with our projects and if they had comments to make. 85.3% are fine with the use
    of
    GMOs to degrade the anticancer drugs in wastewaters and really encourages the Methotrexit. Whereas, 14.7% do not
    agree
    with our project because nature should not be modified and we cannot ensure the containment of our system.</p>


  <mat-card class="normalmargin" style="width: 80%;">
    <img src="http://2018.igem.org/wiki/images/0/0c/T--GO_Paris-Saclay--9_AgreeingPeople.png" class="wideimg">
    <div class="mat-caption captionafterapicture">Figure 5: Percentages of people from the panel agreeing with our
      project.
    </div>
  </mat-card>

  <p class="spacemaker"></p>

  <p><b>To conclude</b>:</p>
  <p class="intermediateconclusion">
    The usefulness of our idea was a very important motivation for us. We really wanted to develop an idea that could be
    used by the society and we did our best to make sure that MethotrExit is a viable idea and that people actually
    accept
    it even though GMOs do not have a good reputation in France.<br><br>
    At each step of the building process, we strived to integrate the human practice aspect, and made sure to
    gather some external opinions to continuously improve.<br><br>
    To overcome the lack of data we decided to write our own article about our project and the different impacts of
    anticancer drugs in hospital effluents. We talked with scientists and pharmacists to really shape the project and
    make
    sure that it will be really useful in the future. <br><br>

    The contact we had with industries made us expand our field of
    action by developing a system that can degrade many molecules using one simple pathway instead of just treating one
    drug. The interview with the lawyer was necessary to make sure that our project can be real and that we are not out
    of
    legality. And at last, taking in consideration the public’s opinion was obligatory to make sure that people agree
    with
    us and that they are concerned about our project.
  </p>
  <p class="spacemaker"></p>


</mat-card>

