<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/c/c8/T--GO_Paris-Saclay--stagedlab_underbanner.png"
       class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png"
       class="bannerimg superposedbanner2">
  <div class="headlinetext">Achievements</div>
</div>

<mat-card class="dashboard-card largemargin">

  <p>
    This year the iGEM GO_Paris Saclay has been working hard and while doing so has kept the medal requirements in mind.
    Below each medal, a list can be found which completes the criteria that have to be met to earn the medals.
  </p>

  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/8/8b/T--GO_Paris-Saclay--gold.png" class="wideimg">
  </div>

  <h1>Integrated Human Practices</h1>
  <p>
    At the beginning of our project, two members of our team wanted to work on endocrine disruptor in wastewater
    treatment. However, several survey and research made on the subject indicated us that there were already plenty of
    solution for this kind of chemical. At that time, another idea popped up in our head.
  </p>
  <p>
    What about anticancer drugs?
  </p>
  <p>
    Indeed, cancer is one of the biggest diseases of our century, lots of people are affected by it, hence, lots of
    prescriptions, drugs are taken in other to fight this disease. Among does drugs, some really powerful one, which can
    cause dramatic effect on the environment.
    With that in mind, we decided to send surveys to the two biggest cancer research facilities in France and Europe.
    The answer was glaring. There was still plenty of job to do in this field.
  </p>
  <p>
    In order to be sure to not waste time, and target the right drug to degrade, we also asked, on the “type” of drugs,
    researcher were working on the most. Finally, the methotrexate (MTX) appeared.
  </p>
  <p>This is how our project was born.</p>
  <p>
    To be sure, that our project was really integrated to the society we live in, we also asked to Arvia, a huge waste
    water treatment company, geolocalized in Britany to answer couple of our question about waste water drug treatment.
    Finally, by analyzing the answers to our surveys we propose to extend our project in at least three directions: i)
    the design of a bacteria confinement that could allow the use of the ‘cleaning factory’ at home for people on
    outpatient treatment, ii) the use of our system as a probiotic in the case of MTX acute toxicity, and iii) the use
    of the ‘heterogenious’ expression system we develop for this project in other strains use in biotechnologies and in
    which the synthetic pathways of interest behave as parasitic systems and are associated to fitness-cost.
  </p>

  <h1>Model</h1>
  <p>Advanced models were created and used to get insight into the core of the project, and the degradation of the MTX.
    More precisely, we modelize the case in which the degradation of anticancer drugs and the biotransformation pathways
    themselves are toxic. Modeling an heterogeneous expression of the synthetic pathway within the ‘cleaning factory’
    population highlights the interest of a division of labor between “cleaning” and “stem” bacterial cells.
  </p>
  <h1>Demonstrate our project work</h1>
  <p>We designed synthetic cassettes encoding a new biotransformation pathway using an heterologous carboxypeptidase in
    <i>Escherichia coli</i>. In only 5 h, our ‘cleaning factory’ drastically removes MTX from the media. During our project we
    demonstrated that the level of MTX after getting through our E. coli population, dropped from 512 µM to close to 0,
    proving that our degrading system is efficient.
  </p>
  <h1>Improvement of an existing biobrick</h1>
  <p>During the part of our part concerning the ‘heterogenious’ expression system, we initially wanted to express ler
    genes at different levels. Therefore we had interest in the large and very well characterized <a href="http://parts.igem.org/Promoters/Catalog/Anderson">Anderson promoter
      collection</a>. Four promoters from this collection were available in
    pSB1C3 backbone vector in the Distribution Kit 2018 (<a href="http://parts.igem.org/Part:BBa_J23119">BBa_J23119</a> ; <a href="http://parts.igem.org/Part:BBa_J23108">BBa_J23108</a> ;
    <a href="http://parts.igem.org/Part:BBa_J23109">BBa_J23109</a> ; <a href="http://parts.igem.org/Part:BBa_J23108">BBa_J23111</a>). By
    sequencing the pSB1C3 plasmids carrying these promoters we identified in three of them extra-sequences (notable SpeI
    extra-sites) that were detrimental for further Biobrick assembly strategy. We corrected one of them by directed
    mutagenesis and sent the corrected pSB1C3-BBa_J23108_corrected plasmid ( <a href="http://parts.igem.org/Part:BBa_K2688025">BBa_K2688025</a>) to iGEM.
  </p>
  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/2/26/T--GO_Paris-Saclay--silver.png" class="wideimg">
  </div>

  <h1>Validated Part</h1>
  <p>We match all deliverables requirements and submitted 13 Biobricks (see Table).</p>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp halfwidetable centerstuff">
    <thead>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        Part registry number
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Shorthand
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Characterization
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">MTX biotransformation pathway</div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688003">BBa_K2688003</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        cpg2_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688008">BBa_K2688008</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        folC_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688009">BBa_K2688009</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        folC_cpg2_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="c36 c13" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">&lsquo;HeteroGenious&rsquo; expression</div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688012">BBa_K2688012</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_native
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688014">BBa_K2688014</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688016">BBa_K2688016</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1_inframe
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688027">BBa_K2688027</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_native_&Delta;Tir
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688018">BBa_K2688018</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1_&Delta;Tir
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688019">BBa_K2688019</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        RBS_ler_2
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688022">BBa_K2688022</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler1
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688023">BBa_K2688023</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler2
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688024">BBa_K2688024</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler3
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="c13 c36" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">Improvement of a Biobrick</div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688025">BBa_K2688025</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        J23108_corrected
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Sequence corrected within pSB1C3 vector
      </td>
    </tr>
    </tbody>
  </table>

  <h1>Collaborations</h1>
  <p>
  We have significantly worked with 3 other registered iGEM team (IGEM Grenoble Alpes 2018, iGEM Sorbonne University
    team, Dusseldorf iGEM team) in a perfect symbiosis. For more informations, go check out our <a (click)="this.router.navigate(['/collaborations'], { fragment: 'top'})">collaboration</a> page.</p>
  <p>
  <a href="http://2018.igem.org/Team:Sorbonne_U_Paris/Collaborations">iGEM Sorbonne University team</a>: we designed and realised the mathematical model of their project. In exchanges, they
  helped us at the beginning of the sketching process for our brand new logo and they gave us a special class about the
  wiki conception.
  </p>
  <p>
  <a href="http://2018.igem.org/Team:Grenoble-Alpes/Collaborations">IGEM Grenoble Alpes 2018</a>: we created the: “Take a famous painting and throw some biology in it challenge”
  </p>
  <p>
  <a href="http://2018.igem.org/Team:Duesseldorf/Collaborations">Dusseldorf iGEM team</a>: we participate to the postcard campaign thrown by the Dusseldorf team, we made a postcard which
  shows an image related to synthetic biology.
  <p>

  <!--
  <h1>Human Practices</h1>
  Survey Study Meeting with an environmental lawyer
  Interview
  Drawing book
-->

  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/3/3e/T--GO_Paris-Saclay--bronze.png" class="wideimg">
  </div>


  <h1>Register and attend</h1>
  <p>We successfully registered for iGEM and had an amazing time, and will attend the Giant Jamboree</p>

  <h1>Deliverables</h1>
  <p>We created our wiki, documented our entire project and our future aspirations</p>
  <p>Our Poster and presentation are ready to be presented at the Giant Jamboree</p>
  <p>The judging form as well as the safety form were filled up as soon as they were available.</p>
  <p>We created, documented and registered all of our part in the registry page</p>
  <p>We submitted all of our part’s DNA samples.</p>
  <h1>Attribution</h1>
  <p>We are grateful for all the help we have received, to see the wonderful people who helped us, check out our
    <a (click)="this.router.navigate(['/attribution'], { fragment: 'top'})">attribution</a> page</p>
  <h1>Contributions</h1>
  <p>We conduct and realised the interlab measurement study, you can see our result in the <a (click)="this.router.navigate(['/biology', 'interlab'], { fragment: 'top'})">interlab</a> Page</p>

  <p class="spacemaker"></p>

</mat-card>
