<div class="bannercontainer">
  <img src="http://2018.igem.org/wiki/images/c/c8/T--GO_Paris-Saclay--stagedlab_underbanner.png"
       class="bannerimg superposedbanner1">
  <img src="http://2018.igem.org/wiki/images/9/90/T--GO_Paris-Saclay--empty-banner.png"
       class="bannerimg superposedbanner2">
  <div class="headlinetext">Achievements</div>
</div>

<mat-card class="dashboard-card largemargin">

  <p>
    This year the iGEM GO_Paris Saclay has been working hard and while doing so has kept the medal requirements in mind.
    Below each medal, a list can be found which completes the criteria that have to be met to earn the medals.
  </p>

  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/8/8b/T--GO_Paris-Saclay--gold.png" class="wideimg">
  </div>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Integrated Human Practices</h1></div>
  <p>
    At the beginning of our project, two members of our team wanted to work on endocrine disruptor in wastewater
    treatment. However, after a few survey on the subject, and a thorough bibliographic search we found out that there
    were
    already plenty of proposed solutions for these kind of chemical. Another idea emerged:
  </p>
  <p>
    What about anticancer drugs?
  </p>
  <p>
    Indeed, cancer is one of the leading killer of the 21<sup>th</sup> century, its burden on public health larger year
    by year. Advances in treatment
    allow us a chance to beat cancer with evidence-based therapy and an ever-refining drug arsenal. But at what cost to
    the environement? Some of those
    medicines are highly harmful when released into the biosphere; excreted metabolites are causing dramatic disruption
    on ecosystems. Yet we cannot just stop treating patients!
  </p>
  <p>
    With that conundrum in mind, we decided to reach out to scientists from the two biggest cancer research
    facilities in
    France and Europe. Our findings were alarming : environmental considerations were not part of the drug development
    process. While drug design will hopefully catch on to these concerns, it became clear we had to tackle the problem downstream,
    degrading drugs after
    they have been used by the patients.
    Aiming for maximal societal impact, we sought to target the right drugs to degrade, the most ubiquitously prescribed.
    Ultimately we narrowed our search to the cytostatic drugs, and more precisely methotrexate (MTX).
  </p>
  <p>
    To be sure that our project would really have the potential to be integrated into society, and impart consequential change,
    we also asked to
    companies such as
    Arvia, a huge waste water treatment company operating in Great Britain, to answer a couple of our question about
    waste water drug treatment. We also discussed with a chemist from Paris-Sud that work on drug degradation.
  </p>
  <p class="formoredetailssee">
    You can find detailed explaination on those subjects on our <a
    (click)="this.router.navigate(['/human-practices'], { fragment: 'top'})">Human Practices page</a>, which deeply
    shaped our MethotrExit project. Thanks to
    this process, we choose the methotrexate as proof of concept but designed a modular solution for others drug
    targets.
  </p>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Model</h1></div>
  <p>Advanced models were created and used to get insight into the core of the project, and the degradation of the MTX.
    More precisely, we modelize the case in which the degradation of anticancer drugs and the biotransformation pathways
    themselves are toxic. Modeling an heterogeneous expression of the synthetic pathway within the ‘cleaning factory’
    population highlights the interest of a division of labor between “cleaning” and “stem” bacterial cells.
  </p>
  <p class="formoredetailssee">
    See our <a
    (click)="this.router.navigate(['/human-practices'], { fragment: 'top'})">Model page</a> for more details.
  </p>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Demonstrate our project work</h1></div>
  <p>We designed synthetic cassettes encoding a new biotransformation pathway using an heterologous carboxypeptidase in
    <i>Escherichia coli</i>. In only 5 h, our ‘cleaning factory’ drastically removes MTX from the media. During our
    project we
    demonstrated that the level of MTX after getting through our E. coli population, dropped from 512 µM to close to 0,
    proving that <b>our degrading system is efficient</b>.
  </p>

  <p class="formoredetailssee">
    See our <a
    (click)="this.router.navigate(['/demonstrate'], { fragment: 'top'})">Demonstrate page</a>, and also the <a
    (click)="this.router.navigate(['/biology','mtx'], { fragment: 'top'})">Methotrexate degradation page</a> for
    detailed analysis of our HPLC results, demonstrating that our system indeed do what it was planned to do.
  </p>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Improvement of an existing biobrick</h1></div>
  <p>During the part of our part concerning the ‘heterogenious’ expression system, we initially wanted to express
    <i>ler</i>
    genes at different levels. Therefore we had interest in the large and very well characterized <a
      href="http://parts.igem.org/Promoters/Catalog/Anderson">Anderson promoter
      collection</a>. Four promoters from this collection were available in
    pSB1C3 backbone vector in the Distribution Kit 2018 (<a href="http://parts.igem.org/Part:BBa_J23119">BBa_J23119</a>
    ; <a href="http://parts.igem.org/Part:BBa_J23108">BBa_J23108</a> ;
    <a href="http://parts.igem.org/Part:BBa_J23109">BBa_J23109</a> ; <a href="http://parts.igem.org/Part:BBa_J23108">BBa_J23111</a>).
    By
    sequencing the pSB1C3 plasmids carrying these promoters we identified in three of them extra-sequences (notable SpeI
    extra-sites) that were detrimental for further Biobrick assembly strategy. We corrected one of them by directed
    mutagenesis and sent the corrected pSB1C3-BBa_J23108_corrected plasmid ( <a
      href="http://parts.igem.org/Part:BBa_K2688025">BBa_K2688025</a>) to iGEM.
  </p>


  <p class="formoredetailssee">
    See our <a
    (click)="this.router.navigate(['/biology','J23108'], { fragment: 'top'})">Improved Part page</a> for more details
  </p>


  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/2/26/T--GO_Paris-Saclay--silver.png" class="wideimg">
  </div>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Validated Part</h1></div>
  <p>We match all deliverables requirements and submitted 13 Biobricks (see Table).</p>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp halfwidetable centerstuff">
    <thead>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        Part registry number
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Shorthand
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Characterization
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">MTX biotransformation pathway</div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688003">BBa_K2688003</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        cpg2_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688008">BBa_K2688008</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        folC_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688009">BBa_K2688009</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        folC_cpg2_tu
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="c36 c13" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">&lsquo;HeteroGenious&rsquo; expression
        </div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688012">BBa_K2688012</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_native
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688014">BBa_K2688014</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688016">BBa_K2688016</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1_inframe
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688027">BBa_K2688027</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_native_&Delta;Tir
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688018">BBa_K2688018</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        LEE5_GFP_variant-1_&Delta;Tir
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688019">BBa_K2688019</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        RBS_ler_2
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688022">BBa_K2688022</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler1
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688023">BBa_K2688023</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler2
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688024">BBa_K2688024</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        tetO_RBS_ler3
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Yes
      </td>
    </tr>
    <tr>
      <td class="c13 c36" colspan="3" rowspan="1">
        <div style="text-align: center;font-weight: bolder;font-size: 18pt;">Improvement of a Biobrick</div>
      </td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <a href="http://parts.igem.org/Part:BBa_K2688025">BBa_K2688025</a>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        J23108_corrected
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        Sequence corrected within pSB1C3 vector
      </td>
    </tr>
    </tbody>
  </table>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Collaborations</h1></div>
  <p>
    We have significantly worked with 3 other registered iGEM team (IGEM Grenoble Alpes 2018, iGEM Sorbonne University
    team, Dusseldorf iGEM team) in a perfect symbiosis. For more informations, go check out our <a
    (click)="this.router.navigate(['/collaborations'], { fragment: 'top'})">collaboration</a> page.</p>
  <p>
    <a href="http://2018.igem.org/Team:Sorbonne_U_Paris/Collaborations">iGEM Sorbonne University team</a>: we designed
    and realised the mathematical model of their project. In exchanges, they
    helped us at the beginning of the sketching process for our brand new logo and they gave us a special class about
    the
    wiki conception.
  </p>
  <p>
    <a href="http://2018.igem.org/Team:Grenoble-Alpes/Collaborations">IGEM Grenoble Alpes 2018</a>: we created the:
    “Take a famous painting and throw some biology in it challenge”
  </p>
  <p>
    <a href="http://2018.igem.org/Team:Duesseldorf/Collaborations">Dusseldorf iGEM team</a>: we participate to the
    postcard campaign thrown by the Dusseldorf team, we made a postcard which
    shows an image related to synthetic biology.
  <p>

  <p class="formoredetailssee">
    See our <a
    (click)="this.router.navigate(['/collaborations'], { fragment: 'top'})">Collaboration page</a> for more details
  </p>


  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Human Practices</h1></div>
  <p>Cancer is one of the most harmful diseases of our century and lots of different drugs are used in order to fight
    this it. These medicines can cause dramatic effects on the environment. With that in our minds, we decided to send
    surveys to the two biggest cancer research facilities in France and Europe. The answers were glaring and there is
    still plenty of work to be done in this field. In order to be sure not to waste time, and target the right drug to
    degrade, we asked the “type” of drugs researchers were working on the most. That’s how the methotrexate (MTX) came
    to our thoughts and how our project was born. </p>

  <p>We also interviewed Arvia, a huge waste water treatment company, localized in Great Britain, about wastewaters
    drugs treatments. We also discuss at different time with Raphaël Labruere that works on drug degradation in
    collaboration with industry. </p>
  <p>We also contacted a French lawyer to make sure of the legality of our project.</p>
  <p>To be sure that our concept was really integrated to the society we live in, we made a survey for the general
    public. We also work in collaboration with an artist of our region to have another point of view of our work. </p>

  <p class="formoredetailssee">
    See our <a
    (click)="this.router.navigate(['/human-practices'], { fragment: 'top'})">Human Practices page</a> for more details
  </p>


  <div class="centerstuff" style="width: 300px;">
    <img src="http://2018.igem.org/wiki/images/3/3e/T--GO_Paris-Saclay--bronze.png" class="wideimg">
  </div>


  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Register and attend</h1></div>
  <p>We successfully registered for iGEM and had an amazing time, and will attend the Giant Jamboree</p>

  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Deliverables</h1></div>
  <p>We created our wiki, documented our entire project and our future aspirations</p>
  <p>Our Poster and presentation are ready to be presented at the Giant Jamboree</p>
  <p>The judging form as well as the safety form were filled up as soon as they were available.</p>
  <p>We created, documented and registered all of our part in the registry page</p>
  <p>We submitted all of our part’s DNA samples.</p>
  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Attribution</h1></div>
  <p>We are grateful for all the help we have received, to see the wonderful people who helped us, check out our
    <a (click)="this.router.navigate(['/attribution'], { fragment: 'top'})">attribution</a> page</p>
  <div class="titrebloc"><img class="carretitrepincipal"
                              src="http://2018.igem.org/wiki/images/f/fd/T--GO_Paris-Saclay--carretitreprinci.png">
    <h1>Contributions</h1></div>
  <p>We conduct and realised the interlab measurement study, you can see our result in the <a
    (click)="this.router.navigate(['/biology', 'interlab'], { fragment: 'top'})">interlab</a> Page</p>

  <p class="spacemaker"></p>

</mat-card>
